body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.lepStyle{
    background: #ff0008;
    color: white;
}

.background-lightgrey{
	background: #a6a6a6;
}

.background-darkgrey{
	background: #666666;
}

.white{
	color: white;
}
.lightgrey{
	color:  #a6a6a6;
}

.blue{
	color: #0000ff;
}

.title{
  text-align: center;
}

.row-bottom-margin { margin-bottom:5px; }
.row-top-margin { margin-top:0px; }