body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.lepStyle{
    background: #ff0008;
    color: white;
}

.background-lightgrey{
	background: #a6a6a6;
}

.background-darkgrey{
	background: #666666;
}

.white{
	color: white;
}
.lightgrey{
	color:  #a6a6a6;
}

.blue{
	color: #0000ff;
}

.red{
	color: #ff0008;
}

.title{
  text-align: center;
}

.no-marin-p{
    margin: 0 0;
    padding:  0 0;
}

.nav-style{
    margin-left: 3%;
    border-style: none;
    float: left;
}

.white{
    color: white;
}


.navbar-brand-2{color:white;position: absolute;width: 100%;left: 0;top: 0;text-align: center;margin: auto;height:50px;padding:15px 15px;font-size:18px;line-height:20px}.navbar-brand-2:focus,.navbar-brand-2:hover{text-decoration:none}.navbar-brand-2>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand-2,.navbar>.container-fluid .navbar-brand-2{margin-left:-15px}}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar.navbar-default .navbar-nav li a {
color: white;
}

.box{
    background: gray;
    color: #ffffff;
}

.row-bottom-margin5 { margin-bottom:5px; }
.row-bottom-margin { margin-bottom:0px; }
.row-top-margin { margin-top:0px; }
.row-top-margin15 { margin-top:15px;}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.padding-top50{
   padding-top: 50px;
}

.h1-responsive {
  font-size: 2em;
}
.h2-responsive {
  font-size: 1.5em;
}
.h3-responsive {
  font-size: 1.17em;
}
.h4-responsive {
  font-size: 1.12em;
}
.h5-responsive{
  font-size: .83em;
}

.normal-font{
  font-weight: normal;
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
  .h1-responsive {
    font-size: 1.8em;
  }

  .h2-responsive {
    font-size: 1.3em;
  }
  .h3-responsive {
    font-size: 0.9em;
  }
  .h4-responsive{
    font-size: 0.8em;
  }
  .h5-responsive{
    font-size: 0.7em;
  }
}

.bottom{
  position: absolute;
  right:    0;
  bottom:   10px;
}

.size-seats{
   height:50px;
   width:50px;
}

.page{
    margin-top: 45px;
    padding: 0;
    height: 70vh;
    width: 95%;
    display: block; border:solid #000 1px
}

.content-seats{
    padding:0;
    overflow: scroll; overflow-x:hidden;
    height:100%;  
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.redlink a{
color:#ff0008;
}
.redlink a:hover{
color:#ff0008;
} 

/*style="height: 200px; position:relative; overflow:auto;"*/
