<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Buses Lep</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="css/angular-datepicker.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css">

    <!-- Custom CSS -->
    <link href="css/lepStyle.css" rel="stylesheet">
	
    <link href="css/custom/home.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/custom/special.css">

    <link rel="stylesheet" type="text/css" href="css/custom/company.css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.soap.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Angularjs -->
   
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.js"></script>
    <script type="text/javascript" src="js/angular-datepicker.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script type="text/javascript" src="js/angular-datepicker.min.js"></script>

    <script type="text/javascript" src="js/soapclient.js"></script>
    <script type="text/javascript" src="js/angular.soap.js"></script>

    <script type="text/javascript" src="js/xml2json.js"></script>

    <!-- App code -->
    <script type="text/javascript" src="app.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="js/services/tripService.js"></script>
		<script type="text/javascript" src="js/services/scheduleService.js"></script>	
	
		<!-- Custom filters -->
		<script type="text/javascript" src="js/filters/filters.js"></script>
	
    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/homeController.js"></script>

    <script type="text/javascript" src="js/controllers/loginController.js"></script>

    <script type="text/javascript" src="js/controllers/schedulesListController.js"></script>

    <script type="text/javascript" src="js/controllers/seatPickerController.js"></script>

    <script type="text/javascript" src="js/controllers/lastSearchesController.js"></script>

    <script type="text/javascript" src="js/controllers/endController.js"></script>

    <script type="text/javascript" src="js/controllers/detailsController.js"></script>

    <script type="text/javascript" src="js/controllers/summaryController.js"></script>

    <script type="text/javascript" src="js/controllers/ticketOfficesController.js"></script>
    
    <script type="text/javascript" src="js/controllers/toursController.js"></script>

    <script type="text/javascript" src="js/controllers/companyController.js"></script>

    <script type="text/javascript" src="js/controllers/specialTravelController.js"></script>
</head>
<body ng-app="app">    

    <!-- Info bar-->
    <div class="container-fluid lepStyle hidden-xs">
        <div class="row" ng-controller="LoginCtrl" style="padding-bottom:5px">
            <div class="col-sm-7 col-md-7 visible-lg">
                <div class="row">
                    <div class=" small-margin col-sm-3 col-md-3 text-center visible-lg">
                        <img src="img/Iconos comunes/icono whatsapp.png" class="img-responsive" style="float:left;width:20px;height:20px;margin-right:6px">351-2466600
                    </div>
                    <div class=" small-margin col-sm-4 col-md-4 text-center hidden-sm">
                        <img src="img/Iconos comunes/Icono Celular.png" class="img-responsive"style="float:left;width:12px;height:19px;margin-right:6px">0351-5696600, 0358-4219090
                    </div>
                    <div class="small-margin col-sm-1 col-md-1">
                        <button onclick="location.href = 'www.facebook.com/expresobuseslep';"type="button" class="nav-style" style="background:#e6e6e6"><img src="img/Iconos comunes/Icono Facebook.png" class="img-responsive"style="float:left;width:20px;height:20px;margin-right:6px"></button>
                    </div>
                    <div class="small-margin col-sm-4 col-md-4 text-center">
                        <img src="img/Iconos comunes/Icono sobre.png" class="img-responsive"style="float:left;width:18px;height:12px;margin-top:6px;margin-right:6px;">expreso@buseslep.com.ar
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5" ng-show="user.dni == '' ">
                <div ng-controller="LoginCtrl" class="row"  style="padding-left:5px"href="">
                    <form ng-submit="login()">
                        <input type="text" class="lep-form col-sm-3" id="DNI" placeholder="DNI" required ng-model="user.dni"/>
                        <input type="password" class="lep-form col-sm-3" id="Password" placeholder="Contraseña" required ng-model="user.pass"/>
                        <div class="col-sm-4"style="margin-top:8px;">
                             <a href="#/" type="submit" style="margin-left:3px;font-size:0.9em"><strong>Ingresar </strong></a> /
                             <a href="#/signin" type="button" style="font-size:0.9em"><strong>Registrarse</strong></a>
                        </div>                                    
                    </form>
                </div>        
            </div>
            <div class="text-center col-sm-12 col-md-12 col-lg-5"  >
                <div class="row" ng-controller="LoginCtrl" ng-show="user.dni != '' " style="margin-top:10px;margin-left:100px">
                    <div class="col-sm-6 col-md-6">
                        <p>Bienvenido, <span class="lepRed-color"><strong>{{user.name}}</strong></span></p>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a href="#/" ng-click="logout()" style="font-size:0.9em"><strong>Cerrar sesión</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--info bar xs-->
    <div class="container-fluid visible-xs lepGrey-bg">
        <div ng-show="user.dni == '' " ng-controller="LoginCtrl" style="margin-bottom:10px" href="">
            <form class="row" ng-submit="login()">
                <input type="text" class="lep-form col-xs-4" id="DNI" placeholder="DNI" required ng-model="user.dni"/>
                <input type="password" class="lep-form col-xs-4" id="Password" placeholder="Contraseña" required ng-model="user.pass"/>                 
                <div class="col-xs-5"style="margin-top:8px;">
                     <a href="#/" type="submit" style="font-size:0.8em"><strong>Ingresar </strong></a> /
                     <a href="#/signin" style="font-size:0.8em"><strong>Registrarse</strong></a>
                </div> 
            </form>
        </div>        
        <div class="text-center" ng-controller="LoginCtrl" ng-show="user.dni != '' " style="margin-top:10px">
            <div class="row">
                    <div class="col-xs-6">
                        <p>Bienvenido, <span class="lepRed-color"><strong>{{user.name}}</strong></span></p>
                    </div>
                    <div class="col-xs-6">
                        <a href="#/" ng-click="logout()"  style="font-size:0.9em"><strong>Cerrar sesión</strong></button>
                    </div>
                </div>
        </div>
    </div>
    <!-- Cover Image-->
    <div class="container-fluid lepStyle background-white hidden-xs">
      <div class="row">
        <a href="#/"><img class="col-xs-6 size-logo img-responsive left" ng-src="img/Iconos comunes/Isologo.png" alt="Buses Lep" ></a>
        <p class="col-xs-6" style="padding-top:5%;text-align:center;font-size:160%;font-family:verdana;"> 
            Preocupate por otras cosas, <b> buses Lep </b> te lleva.
        </p>
      </div>
    </div>


    <nav class="navbar navbar-default on-top" data-spy="affix" data-offset-top="180">
      <!-- Main bar-->
      <div class="container-fluid lepStyle">
        <div class="navbar-header">
          <p class="navbar-brand-2 text-center sr-only">buses Lep</p>
          <button type="button" class="navbar-toggle collapsed pull-left nav-style" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="size-logo img-responsive visible-xs" ng-src="img/Iconos comunes/Isologo.png" alt="Buses Lep" style="float:right">
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-left" data-toggle="collapse" ng-controller="LoginCtrl">
            <!-- xs,sm -->
            <ul class="selected nav navbar-nav visible-xs visible-sm">
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/company">Empresa</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/tours">Recorridos</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/ticketOffices">Boleterías</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/encomiendas">Encomiendas</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/special">Viajes Especiales</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/account/reserves">Mi Cuenta</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/">Horarios</a></li>
       
            </ul>

            <!-- md,lg -->
           <ul class="selected nav navbar-nav hidden-xs hidden-sm" > 
                <li><a  href="#/company">Empresa</a></li>
                <li><a  href="#/tours">Recorridos</a></li>
                <li><a  href="#/ticketOffices">Boleterías</a></li>
                <li><a href="#/encomiendas">Encomiendas</a></li>
                <li><a  href="#/special">Viajes Especiales</a></li>
                <li><a  href="#/account/reserves">Mi Cuenta</a></li>
                <li><a href="#/">Horarios</a></li>
            </ul>
            <!--<li><a  ng-show="user.dni != '' " href="">Recargar ciudades</a></li>
            <li><a  ng-show="user.dni != '' " href="#/lastSearches">Últimas Búsquedas</a></li>
            <li><a  ng-show="user.dni != '' " href="#/editProfile">Editar Perfil</a></li>
            <li><a  ng-show="user.dni != '' " href="#/editPass">Cambiar Contraseña</a></li>
            <li><a  ng-show="user.dni != '' " href="#/userReserves">Mis Reservas</a></li>
            <li><a  ng-show="user.dni != '' " href="#/userTickets">Mis Compras</a></li>
            <li><a  ng-show="user.dni != '' " href="#/" ng-click="logout()">{{console.log(localStorageService.get("user-lep"))}}Cerrar Sesion</a></li>-->
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>

     <div class= "container-fluid"ng-view></div>
    </br></br></br>
      <!-- footer-->
  <div id="footer" class="container-fluid lepStyle2">
      <div class="row">
        <div class="col-xs-3 text-center h4-responsive" style="padding:10px"><strong>Noticias</strong></div>
        <div class="col-xs-3 text-center h4-responsive" style="padding:10px"><strong>Novedades</strong></div>
        <div class="col-xs-3 text-center h4-responsive" style="padding:10px"><strong>Actualidad</strong></div>
        <div class="col-xs-3 text-center h4-responsive" style="padding:10px"><strong>Tu opinión nos interesa...</strong></div>
      </div>
      <div class="row h4-responsive">
        <div class="col-xs-3">
            <div class="row text-center border-bottom-r">
                <p>October Fest 2015  </br> <span class="lepGrey-color"> 21/09/2015 </span></p>
            </div>
            <div class="row text-center border-bottom-r">
                <p>Fiesta de la Primavera </br> <span class="lepGrey-color"> 21/09/2015 </span></p>
            </div>
            <div class="row text-center border-bottom-r">
                <p>Prómima nota  </br> <span class="lepGrey-color"> 21/09/2015 </span></p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row text-center border-bottom-r">
                <p>A partir del 1 de Septiembre se podrán gestionar las renovaciones de los Boletos Educativos Gratuitos</p>
            </div>
            <div class="row text-center border-bottom-r">
                <p>Ya podes conseguir tu tarjeta electronica para viajar a cualquiera de nuestros destinos</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row text-center border-bottom-r">
                <p>Temperatura en Cordoba Capital </br> Min 10 / Max 27 </br> 
                    <span class="h1-responsive">20</span></p>
            </div>
            <div class="row text-center border-bottom-r">
                <p>Cuidemos el medio ambiente</p>
            </div>
        </div>
        <div class="col-xs-3">
            <textarea class="lep-form textarea" name="Opinion"></textarea>
           <button class="lepStyle"type="submit" style="margin:10px">Enviar</button> 
        </div>
      </div>
      <div class="row lepDarkGrey-bg lepWhite-color">
        <p class="text-center"> Copyright <strong>buses Lep 2016</strong> - Todos los derechos reservados</p>
      </div>
  </div> <!--end footer-->
</body>
</html>