<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="">
	  <meta name="author" content="">
     <!-- <base href="http://tec-pro.github.io/busesLepWeb/"> -->
	  <title>Buses Lep</title>

	  <!-- Bootstrap Core CSS -->
	  <link href="css/bootstrap.min.css" rel="stylesheet">

	  <!--<link rel="stylesheet" type="text/css" href="css/angular-datepicker.min.css">-->
	  <link rel="stylesheet" type="text/css" href="css/daterangepicker.min.css">

	  <!-- Custom CSS -->
	  <link href="css/lepStyle.css" rel="stylesheet">

	  <link href="css/custom/home.css" rel="stylesheet">

	  <link rel="stylesheet" type="text/css" href="css/custom/special.css">

	  <link rel="stylesheet" type="text/css" href="css/custom/company.css">

	  <link rel="stylesheet" type="text/css" href="css/custom/account.css">
	  <!-- jQuery -->
	  <script src="js/jquery.js"></script>
	  <script src="js/jquery.soap.js"></script>
	  <!-- Bootstrap Core JavaScript -->
	  <script src="js/bootstrap.min.js"></script>

	  <!-- Angularjs -->

	  <script type="text/javascript" src="js/angular.js"></script>
	  <script type="text/javascript" src="js/angular-route.min.js"></script>
	  <script type="text/javascript" src="js/angular-local-storage.js"></script>
	  <script type="text/javascript" src="js/angular-datepicker.min.js"></script>
	  <script type="text/javascript" src="js/angular-animate.min.js"></script>
	  <script type="text/javascript" src="js/moment.min.js"></script>
	  <script type="text/javascript" src="js/daterangepicker.js"></script>
	  <script type="text/javascript" src="js/angular-datepicker.min.js"></script>

	  <script type="text/javascript" src="js/soapclient.js"></script>
	  <script type="text/javascript" src="js/angular.soap.js"></script>

	  <script type="text/javascript" src="js/xml2json.js"></script>

	  <!-- App code -->
	  <script type="text/javascript" src="app.js"></script>

	  <!-- Services -->
	  <script type="text/javascript" src="js/services/tripService.js"></script>
		<script type="text/javascript" src="js/services/scheduleService.js"></script>
	  <script type="text/javascript" src="js/services/companyService.js"></script>
	  <script type="text/javascript" src="js/services/wsService.js"></script>
	  <script type="text/javascript" src="js/services/feedService.js"></script>

		<!-- Custom filters -->
		<script type="text/javascript" src="js/filters/filters.js"></script>

	  <!-- Controllers -->
	  <script type="text/javascript" src="js/controllers/testController.js"></script>

	  <script type="text/javascript" src="js/controllers/homeController.js"></script>

	  <script type="text/javascript" src="js/controllers/loginController.js"></script>

	  <script type="text/javascript" src="js/controllers/schedulesListController.js"></script>

	  <script type="text/javascript" src="js/controllers/seatPickerController.js"></script>

	  <script type="text/javascript" src="js/controllers/lastSearchesController.js"></script>

	  <script type="text/javascript" src="js/controllers/accountBalanceController.js"></script>

	  <script type="text/javascript" src="js/controllers/accountDepositController.js"></script>

	  <script type="text/javascript" src="js/controllers/endController.js"></script>

	  <script type="text/javascript" src="js/controllers/detailsController.js"></script>

	  <script type="text/javascript" src="js/controllers/summaryController.js"></script>

	  <script type="text/javascript" src="js/controllers/ticketOfficesController.js"></script>

	  <script type="text/javascript" src="js/controllers/toursController.js"></script>

	  <script type="text/javascript" src="js/controllers/companyController.js"></script>

	  <script type="text/javascript" src="js/controllers/specialTravelController.js"></script>

	  <script type="text/javascript" src="js/controllers/mercadopagoController.js"></script>

	  <script type="text/javascript" src="js/controllers/reservesController.js"></script>

	  <script type="text/javascript" src="js/controllers/footerController.js"></script>

	  <!-- modulo mercadopago  -->
	  <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>

	  <!-- google maps -->
	  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQmNyFTSyuj8-rC5QsCus2ju2ABG3IbxI"></script>

	  <script>
	      function sticky_relocate() {
	          var window_top = $(window).scrollTop();
	          var div_top = $('#sticky-anchor').offset().top;
             // var infoBarSize = document.getElementById('info-bar').offsetWidth;
	          if (window_top + 45 > div_top){
	              $('#sticky-element').addClass('sticky');
	              $('#movida').addClass('movidita');
	          }
	          else{
	              $('#sticky-element').removeClass('sticky');
	              $('#movida').removeClass('movidita');
	          }
	      }

	      $(function() {
	          $(window).scroll(sticky_relocate);
	          sticky_relocate();
	      });
         // document.location.href = String( document.location.href ).replace( "#/", "" );
	  </script>
      <script ng-init = "navbar_tab_id = 0;">

            if (location.pathname == "#/company"){
               navbar_tab_id = 1;
            }
            if (location.pathname == "#/tours"){
               navbar_tab_id = 2;
            }
            if (location.pathname == "#/ticketOffices"){
               navbar_tab_id = 3;
            }
            if (location.pathname == "#/encomiendas"){
               navbar_tab_id = 4;
            }
            if (location.pathname == "#/special"){
               navbar_tab_id = 5;
            }
            if (location.pathname == "#/account/reserves"){
               navbar_tab_id = 6;
            }
            if (location.pathname == "#/"){
               navbar_tab_id = 7;
            }
      </script>
	</head>
	<body ng-app="app" ng-init="tab = 23">
    <div class = "center-block lepDarkGrey-bg">
	    <div style = "max-width: 1300px; " class = "center-block lepWhite-bg">
	    <!-- Info bar-->
	    <div id="info-bar" class="container-fluid lepStyle hidden-xs navbar-fixed-top border-bottom-grey" style = "max-width: 1300px;">
	        <div class="row" ng-controller="LoginCtrl" style="padding-bottom:5px">
	            <div class="col-sm-7 col-md-7 visible-lg">
	                <div class="row">
	                    <div class=" font-normal2 padding-top10 col-sm-3 text-center visible-lg">
	                        <img src="img/Iconos comunes/icono whatsapp.png" class="img-responsive" style="float:left;width:20px;height:20px;margin-left:40px"><span style="font-size:0.9em">351-2466600</span>
	                    </div>
	                    <div class=" font-normal2 padding-top10 col-sm-4 text-center hidden-sm">
	                        <img src="img/Iconos comunes/Icono Celular.png" class="img-responsive"style="float:left;width:12px;height:19px;margin-left:30px"><span style="font-size:0.9em">0351-5696600, 0358-4219090</span>
	                    </div>
	                    <div class=" padding-top10 col-sm-1">
	                        <a href="http://www.facebook.com/expresobuseslep" type="button" class="nav-style" style="background:#e6e6e6"><img src="img/Iconos comunes/Icono Facebook.png" class="img-responsive"style="width:20px;height:20px;margin-left:20px"></a>
	                    </div>
	                    <div class="font-normal2 padding-top10 col-sm-4 text-center">
	                        <img src="img/Iconos comunes/Icono sobre.png" class="img-responsive"style="float:left;width:18px;height:12px;margin-top:6px;margin-left:40px;"><span style="font-size:0.9em">expreso@buseslep.com.ar</span>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-lg-5" ng-show="user.dni == '' ">
	                <div ng-controller="LoginCtrl" class="row padding-bottom4 padding-top4"  style="padding-left:5px"href="">
	                    <form ng-submit="login()">
	                        <input type="text" class="lep-form col-sm-3" id="DNI" placeholder="DNI" required ng-model="user.dni"/>
	                        <input type="password" class="lep-form col-sm-3" id="Password" placeholder="Contraseña" required ng-model="user.pass"/>
	                        <div class="col-sm-4"style="margin-top:8px;">
	                             <button class="button-link" href="#/" type="submit" style="margin-left:3px;font-size:0.9em"><strong>Ingresar </strong></button> /
	                             <button class="button-link" ng-click="go('/signin')" type="button" style="font-size:0.9em"><strong>Registrarse</strong></button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="text-center col-sm-12 col-lg-5"  >
	                <div class="row" ng-controller="LoginCtrl" ng-show="user.dni != '' " style="padding-top:10px;margin-left:100px">
	                    <div class="col-sm-6 col-md-6">
	                        <p>Bienvenido, <span class="lepRed-color"><strong>{{user.name}}</strong></span></p>
	                    </div>
	                    <div class="col-sm-6 col-md-6">
	                        <a href="#/" ng-click="logout()" style="font-size:0.9em"><strong>Cerrar sesión</strong></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!--info bar xs-->
	    <div class="container visible-xs lepStyle navbar-fixed-top" >
	        <div ng-controller="LoginCtrl" style="margin-bottom:10px" ng-show = "user.email == ''" href="">
	            <form class="row" ng-submit="login()">
	                <input type="text" class="lep-form col-xs-2" id="DNI" placeholder="DNI" required ng-model="user.dni"/>
	                <input type="password" class="lep-form col-xs-2" id="Password" placeholder="Contraseña" required ng-model="user.pass"/>
	                <div class="col-xs-4"style="margin-top:8px;">
	                     <button class="button-link" href="#/" type="submit" style="font-size:0.7em"><strong>Ingr.</strong></button> /
	                     <button class="button-link" ng-click="go('/signin')" type="button" style="font-size:0.7em"><strong>Regist.</strong></button>
	                </div>
	            </form>
	        </div>
	        <div class="text-center" ng-controller="LoginCtrl" ng-show="user.email != '' " style="margin-top:10px">
	            <div class="row">
	                <div class="col-xs-6" style="font-size:0.9em">
	                    <p>Bienvenido, <span class="lepRed-color" ><strong>{{user.name}}</strong></span></p>
	                </div>
	                <div class="col-xs-6">
	                    <a href="#/" ng-click="logout()"  style="font-size:0.9em"><strong>Cerrar sesión</strong></a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Cover Image-->
	   	<div id="cover" class="row no-mar-pad-bor row-top-margin15 lepStyle background-white hidden-xs" >
	      <div>
	        <a ng-click="tab = 7" href="#/" class="col-xs-6 "><img class="padding-top50  size-logo img-responsive left" ng-src="img/Iconos comunes/Isologo.png" alt="Buses Lep" ></a>
	        <img class="padding-top45 col-xs-6 img-responsive no-margin" ng-src="img/Buses-Head.jpg" >
	        <!--<p class="col-xs-6 font-arial" style="padding-top:5%;text-align:center;font-size:180%;">
	            Preocupate por otras cosas, <b> buses Lep </b> te lleva.
	        </p>-->
	      </div>
	    </div>

	    <div id="sticky-anchor" class = "center-block"> </div>
	    <nav id="sticky-element" class="navbar navbar-default on-top center-block">
	      <!-- Main bar-->
	      <div class="container-fluid lepStyle">
	        <div class="navbar-header">
	          <p class="navbar-brand-2 text-center sr-only">buses Lep</p>
	          <button type="button" class="navbar-toggle collapsed pull-left nav-style" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <img class="size-logo img-responsive visible-xs" ng-src="img/Iconos comunes/Isologo.png" alt="Buses Lep" style="float:right">
	        </div>
	        <div id="navbar" class="navbar-collapse collapse navbar-left" data-toggle="collapse" ng-controller="LoginCtrl">
	            <!-- xs,sm -->
	            <ul class=" selected nav navbar-nav visible-xs visible-sm">
	                <li ng-click="tab = 1">
	                    <a ng-hide="tab === 1" data-toggle="collapse" data-target=".navbar-collapse" href="#/company">Empresa</a>
	                    <a ng-show="tab === 1" data-toggle="collapse" data-target=".navbar-collapse" href="#/company"><strong>Empresa</strong></a>
	                </li>
	                <li ng-click="tab = 2">
	                    <a ng-hide="tab === 2" data-toggle="collapse" data-target=".navbar-collapse" href="#/tours">Recorridos</a>
	                    <a ng-show="tab === 2" data-toggle="collapse" data-target=".navbar-collapse" href="#/tours"><strong>Recorridos</strong></a>
	                </li>
	                <li ng-click="tab = 3">
	                    <a ng-hide="tab === 3" data-toggle="collapse" data-target=".navbar-collapse" href="#/ticketOffices">Boleterías</a>
	                    <a ng-show="tab === 3" data-toggle="collapse" data-target=".navbar-collapse" href="#/ticketOffices"><strong>Boleterías</strong></a>
	                </li>
	                <li ng-click="tab = 4">
	                    <a ng-hide="tab === 4" data-toggle="collapse" data-target=".navbar-collapse" href="#/encomiendas">Encomiendas</a>
	                    <a ng-show="tab === 4" data-toggle="collapse" data-target=".navbar-collapse" href="#/encomiendas"><strong>Encomiendas</strong></a>
	                </li>
	                <li ng-click="tab = 5">
	                    <a ng-hide="tab === 5" data-toggle="collapse" data-target=".navbar-collapse" href="#/special">Viajes Especiales</a>
	                    <a ng-show="tab === 5" data-toggle="collapse" data-target=".navbar-collapse" href="#/special"><strong>Viajes Especiales</strong></a>
	                </li>
	                <li ng-click="tab = 6" ng-show = "user.dni != ''">
	                    <a ng-hide="tab === 6" data-toggle="collapse" data-target=".navbar-collapse" href="#/account/reserves">Mi Cuenta</a>
	                    <a ng-show="tab === 6" data-toggle="collapse" data-target=".navbar-collapse" href="#/account/reserves"><strong>Mi Cuenta</strong></a>
	                </li>
	                <li ng-click="tab = 6" ng-show = "user.dni == ''">
	                    <a ng-hide="tab === 6" data-toggle="collapse" data-target=".navbar-collapse" href="#/login">Mi Cuenta</a>
	                    <a ng-show="tab === 6" data-toggle="collapse" data-target=".navbar-collapse" href="#/login"><strong>Mi Cuenta</strong></a>
	                </li>
	                <li ng-click="tab = 7">
	                    <a ng-hide="tab === 7" data-toggle="collapse" data-target=".navbar-collapse" href="#/">Inicio</a>
	                    <a ng-show="tab === 7" data-toggle="collapse" data-target=".navbar-collapse" href="#/"><strong>Inicio</strong></a>
	                </li>
	            </ul>

	            <!-- md,lg -->
	           <ul class="selected nav navbar-nav hidden-xs hidden-sm" >
	                <li ng-click="tab = 1" >
	                    <a  ng-hide="tab === 1" href="#/company"><strong>Empresa</strong></a>
	                    <a  ng-show="tab === 1" href="#/company"><span class="lepBlue-color"><strong>Empresa</strong></span></a>
	                </li>
	                <li ng-click="tab = 2">
	                    <a  ng-hide="tab === 2" href="#/tours"><strong>Recorridos</strong></a>
	                    <a  ng-show="tab === 2" href="#/tours"><span class="lepBlue-color"><strong>Recorridos</strong></span></a>
	                </li>
	                <li ng-click="tab = 3">
	                    <a  ng-hide="tab === 3" href="#/ticketOffices"><strong>Boleterías</strong></a>
	                    <a  ng-show="tab === 3" href="#/ticketOffices"><span class="lepBlue-color"><strong>Boleterías</strong></span></a>
	                </li>
	                <li ng-click="tab = 4">
	                    <a  ng-hide="tab === 4" href="#/encomiendas"><strong>Encomiendas</strong></a>
	                    <a  ng-show="tab === 4" href="#/encomiendas"><span class="lepBlue-color"><strong>Encomiendas</strong></span></a>
	                </li>
	                <li ng-click="tab = 5">
	                    <a  ng-hide="tab === 5" href="#/special"><strong>Viajes Especiales</strong></a>
	                    <a  ng-show="tab === 5" href="#/special"><span class="lepBlue-color"><strong>Viajes Especiales</strong></span></a>
	                </li>
	                <li ng-click="tab = 6" ng-show = "user.dni != ''">
	                    <a  ng-hide="tab === 6" href="#/account/reserves"><strong>Mi Cuenta</strong></a>
	                    <a  ng-show="tab === 6" href="#/account/reserves"><span class="lepBlue-color"><strong>Mi Cuenta</strong></span></a>
	                </li>
	                <li ng-click="tab = 6" ng-show = "user.dni == ''">
	                    <a  ng-hide="tab === 6" href="#/login"><strong>Mi Cuenta</strong></a>
	                    <a  ng-show="tab === 6" href="#/login"><span class="lepBlue-color"><strong>Mi Cuenta</strong></span></a>
	                </li>
	                <li ng-click="tab = 7">
	                    <a  ng-hide="tab === 7" href="#/"><strong>Inicio</strong></a>
	                    <a  ng-show="tab === 7" href="#/"><span class="lepBlue-color"><strong>Inicio</strong></span></a>
	                </li>
	            </ul>

	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

	    <div id="movida">
	    	<div class=" container" ng-view></div>
	    	<div><br></div>
	      <!-- footer-->
				<div id="footer" class="container-fluid lepStyle2" ng-controller="FooterCtrl">
	      	<div class = "row">
			        <div class="col-xs-12 col-sm-3 text-center h4-responsive" style="padding:10px"><strong>Noticias</strong>
			            <div class=" text-center ">
			                <ul class="unstyled">
			                  <li style="list-style-type: none;" ng-repeat="noticia in noticias | limitTo:3">
			                      <p ng-bind-html="noticia.Texto"></p><br>
			                  </li>
			              </ul>
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-3 text-center h4-responsive" style="padding:10px"><strong>Novedades</strong>
			            <div class=" text-center ">
			                <ul class="unstyled">
			                  <li style="list-style-type: none;" ng-repeat="novedad in novedades | limitTo:3">
			                      <p>{{novedad.DescNovedad}}</p><br>
			                  </li>
			              </ul>
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-3 text-center h4-responsive" style="padding:10px"><strong>Actualidad</strong>
			            <div class=" text-center">
			                <p>Temperatura en Cordoba Capital <br> Min {{weather.tempMin}}° / Max {{weather.tempMax}}° <br>
			                    <span class="h1-responsive">{{weather.temp}}°</span></p>
			            </div>
			            <div class=" text-center">
			                <ul class="unstyled">
			                  <li style="list-style-type: none;" ng-repeat="feed in feeds | limitTo:3">
			                      <a target="_blank" class="small lepGrey-color"href="{{feed.link}}">{{feed.title}}</a><br>
			                  </li>
			              </ul>
			            </div>
			        </div>
			        <div class="hidden-xs col-sm-3 text-center h4-responsive" style="padding:10px"><strong>Tu opinión nos interesa...</strong>
			           <textarea class="lep-form textarea" name="Opinion"></textarea>
			           <button class="btn btn-default lepStyle2"type="submit" style="font-size:0.7em;margin-top:10px;margin-bottom:10px">Enviar</button>
			        </div>
			      </div>
			      <div class="row lepDarkestGrey-bg lepWhite-color border-bottom-red">
			        <div class="col-xs-12 col-sm-2 padding-top10" >
			            <p class="h2-responsive font-arial"><strong>buses Lep</strong></p>
			        </div>
			        <div class="col-xs-12 col-sm-10">
			            <div class="row">
			                 <div class=" font-normal2 padding-top15 col-sm-3 col-xs-10 h5-responsive">
			                    <img src="img/Iconos comunes/Icono Celular.png" style="width:12px;height:19px;margin-right:10px">0351-5696600, 0358-4219090
			                </div>
			                <div class="font-normal2 padding-top15 col-sm-4 col-xs-10 h5-responsive">
			                    <img src="img/Iconos comunes/icono posicionamiento pie.png" style="width:15px;height:17px;margin-right:10px;">Av.Vélez Sarfield 1580 - CP(5000)Córdoba
			                </div>
			                <div class="font-normal2 padding-top15 col-sm-3 col-xs-10 h5-responsive">
			                    <img src="img/Iconos comunes/Icono sobre.png" style="width:18px;height:12px;margin-right:10px;">expreso@buseslep.com.ar
			                </div>
			                <div class="col-xs-12 col-sm-1">
			                   <button class="btn btn-default lepRed-bg lepWhite-color" type="button" style="margin:10px" ng-click="goCompanyContact()">Contacto</button>
			                </div>
			            </div>
			        </div>
			      </div>
			      <div class="row lepDarkestGrey-bg lepWhite-color">
			        <p class="text-center padding-top5"> Copyright <strong>buses Lep 2016</strong> - Todos los derechos reservados</p>
			      </div>

	  			</div> <!--end footer-->
				</div> <!--end movida-->
			</div> <!-- end maxwidth 1300 -->
		</div> <!-- end background gray-->
	</body>
</html>
