input.card-input {
	border: 2px solid lightgrey;
	text-align: center;
	max-width: 100%;
	font-weight: bold;
	color: red;
}

.acc-prom-table > thead {
    color: white;
    background-color: red;
}

.acc-content {
    margin-top: 15px;
}

.acc-prom-table > tbody {
    background-color: white;
}

.acc-form {
	  margin-top: 0.5em;
	  display: block;
	  width: 100%;
	  height: 100%;
	  padding: 6px 10px;
	  font-size: 10px;
	  line-height: 1.42857143;
	  color: #555555;
	  background-color: #ffffff;
	  background-image: none;
	  border: 1px solid #cccccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.acc-container {
    margin-bottom: 20%;
}

.credits-row {
    margin-top: 10%;
    margin-bottom: 10%;
}

.acc-balance-row {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* The Modal (background) */
.acc-loading-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.acc-modal-content {
    margin: 15%; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Modal Content */
.acc-loading-modal-content {
    margin: 15% 50%; /* 15% from the top and centered */
    padding: 20px;
    width: 5.5%; /* Could be more or less, depending on screen size */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
