.comp-container {
	margin-bottom: 20%;
}

@media (min-width: 768px){
	.comp-nav {
		width: 70%;
	}
}
.comp-gall-nav-btn{
	max-height: 25px;
	margin-top: 35px;
}

.comp-right-arrow {
	max-height: 30px;
	margin-top: 40px;
}

.comp-ref strong:hover {
	color: #000B82;
	text-decoration: none;
}

.comp-ref strong:active {
	color: #000B82;
	text-decoration: none;
}

.comp-gall-img {
	transition:all cubic-bezier(1, 1, 0, 0) 0.5s;
}

.comp-gp-img {
  height:45px;
}

.comp-ios-img {
	border: 6px solid transparent;
  height: 45px;
}

.comp-gall-wrap {
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

.comp-text-box {
    height: 257px;
    overflow-x: hidden;
}

.comp-textarea {
	resize: none;
	background-color: #ffffff;
}

.comp-tab-navbar {
	/*padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
	margin-top: 1%;*/
	/*border-top: 3px solid #dbdbdb;
	border-bottom: 3px solid #dbdbdb;*/
}

.comp-tab-navbar a {
	color: #3f3f3f;
	font-weight: bold;
}

.comp-tab-navbar a:active {
	color: #000B82;
}

.comp-tab-navbar a:focus {
	color: #000B82;
}

.comp-tab-navbar a:hover {
	color: #000B82;
	text-decoration: none;
	font-weight: bolder;
}

.comp-tab-inner-elem {
	border-bottom: 2px solid #dbdbdb;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.comp-tab-inner-elem {
		border-bottom: none;
		border-right: 2px solid #dbdbdb;
	}
}

.comp-contact-img-logo {
	width: 25px;
	height: 25px;
}

.comp-contact-img-logo-ph {
	width: 25px;
	height: 40px;
}

.comp-contact-img-logo-ml {
	width: 25px;
	height: 20px;
}

.comp-units-navbar {
	padding-top: 2%;
}

.comp-units-tab {
	background-color: #dbdbdb;
}

.comp-units-tab:hover {
	background-color: #3f3f3f;
}

.comp-units-tab:hover > a {
	color: #dbdbdb;
	text-decoration: none;
}

.comp-units-tab a {
	color: #3f3f3f;
}
.comp-units-content {
	padding-top: 5%;
}

.comp-btn {
	padding: 0;
	border: none;
	background: none;
}

/* The Modal (background) */
.comp-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.comp-modal-content {
		margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.comp-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.comp-close:hover,
.comp-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .comp-modal {
        display: none;
    }
}

.comp-modal-img {
	width: 575px;
	height: 350px;
}

.comp-modal-body {}
