.comp-gall-nav-btn{
	max-height: 25px;
	margin-top: 35px;
}

.comp-right-arrow {
	max-height: 30px;
	margin-top: 40px;
}

.comp-gall-wrap {
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

.comp-textarea {
	resize: none;
	background-color: #dbdbdb;
}

.comp-tab-navbar {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
	margin-top: 1%;
	border-top: 3px solid #dbdbdb;
	border-bottom: 3px solid #dbdbdb;
}

.comp-tab-navbar a {
	color: #3f3f3f;
}

.comp-tab-navbar a:hover {
	text-decoration: none;
	font-weight: bold;
}

.comp-tab-navbar a:after{
	display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

.comp-tab-inner-elem {
	border-right: 3px solid #dbdbdb;
}

.comp-units-navbar {
	padding-top: 2%;
}

.comp-units-tab {
	background-color: #dbdbdb;
}

.comp-units-tab:hover {
	background-color: #3f3f3f;
}

.comp-units-tab:hover > a {
	color: #dbdbdb;
	text-decoration: none;
}

.comp-units-tab a {
	color: #3f3f3f;
}
.comp-units-content {
	padding-top: 5%;
}