.search-container {
	color: white;
	text-align: center;
	background: red;
	padding-bottom: 2.4%;
}

.search-header {
	font-size: 150%;
}

.search-text {
	text-align: center;
}

.search-date {
	padding-left: 14%;
	text-align: center;
}

.search-date::-webkit-input-placeholder       {color:  #000000;}
.search-date::-moz-placeholder                {color:  #000000;}
.search-date:-moz-placeholder                 {color:  #000000;}
.search-date:-ms-input-placeholder            {color:  #000000;}
.search-date:focus::-webkit-input-placeholder {color: #ff0008; text-decoration: underline;}
.search-date:focus::-moz-placeholder          {color: #ff0008; text-decoration: underline;}
.search-date:focus:-moz-placeholder           {color: #ff0008; text-decoration: underline;}
.search-date:focus:-ms-input-placeholder      {color: #ff0008; text-decoration: underline;}

.carousel-text {
	border-top: solid gray;
	border-bottom: solid gray;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	color: gray;
	cursor:	default;
}

.carousel-control.left:hover, .carousel-control.right:hover {
	color: red;
}

.carousel-indicators {
	display: none;
	bottom: 5%;
}

.carousel-indicators li {
	background-color: darkgray;
}
.carousel-indicators .active {
	background-color: red;
}

.first-home-row {
	margin-top: -1.5%;
}

.home-row {
	padding-bottom: 5%;
	padding-top: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+99&0+97,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 98%, rgba(0,0,0,0.43) 100%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 98%,rgba(0,0,0,0.43) 100%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 98%,rgba(0,0,0,0.43) 100%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.white-glyphicon-home {
	color: white;
}

.search-menu-button {
	width: 100%;
}

.search-menu-button:disabled {
	background-color: #FFF;
	opacity: 1;
}

.open > .dropdown-toggle.btn-default.search-menu-button:focus {
	color: red;
	text-decoration: underline;
}

.btn.search-menu-button:active {
	color:red;
	text-decoration: underline;
}

.btn.search-menu-button:hover {
	color: red;
	text-decoration: underline;
}

.search-menu-button:disabled:hover {
	background-color: #E6E6E6;
}

.search-menu-items {
	text-align: center;
	width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-menu > li > a.search-menu-item:hover {
	color:red;
}

.search-date{
	background-color: #FFF;
}

.search-date:hover {
	background-color: #E6E6E6;
}

.search-date:disabled:hover {
	background-color: #E6E6E6;
}

.default-option:hover {
	color:red;
	text-decoration: underline;
}

p.home-news {
	width: 100%;
    height: auto;
    font-size: 75%;
    max-height: 130px;
    overflow-x: hidden;
}

.home-news-img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 170px;
}

/* The Modal (background) */
.home-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.home-modal-content {
    margin: 15% 50%; /* 15% from the top and centered */
    padding: 20px;
    width: 5.5%; /* Could be more or less, depending on screen size */
}

.home-modal-body {

}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.img-wrapper {
	position: relative;
	width: 109.9%;
	margin-left: -5.2%;
	display: inline-block;
	height: auto;
}

@media screen and (min-width: 768px){
	.img-wrapper {
		width: auto;
		margin-left: 0;
	}
}

.img-wrapper a {
	display: block;      
  	position: absolute;
  	z-index: 1;
  	top: 33%;
	width: 18%;
	height: 9%;
}

.home-link-and {
	left: 59%;
}


.home-link-ios {
	left: 78%;
}


.btn-home {
	position: absolute;
	z-index: +1;
	color: white;
	width: 100%;
	bottom: 0.0%;
	background-color: #191919;
	border-radius: 0;
}

.btn-home:hover{
	color: red;
}

.btn-home:hover .glyphicon {
	color: red;
}


.img-lg {
	max-height: 340px;
}

.img-md {
	max-height: 310px;
}

.img-sm {
	max-height: 300px;
}

.btn-home-clear {
	border: none;
	background: transparent;
	color: white;
}

.btn-home-clear:hover {
	background: transparent;
	color: white;
}

/*
@media screen and (min-width: 768px) {
   	.img-container {
   		margin-left: 0%;
   		width: auto;
   	}
}



@media screen and (min-width: 768px){
	.btn-home{
		width: 87.75%;
	}
}

@media screen and (min-width: 980px){
	.btn-home{
		width: 89.2%;
		bottom: 0.12%;
	}
}

@media screen and (min-width: 1280px){
	.btn-home{
		width: 91.75%;
	}
}

@media screen and (min-width: 1366px){
	.btn-home{
		width: 92.25%;
		bottom: 0;
	}
}*/
