.sch-title {
    text-align: center;
}

.sch-text-center {
    text-align: center;
}

.sch-calendar {
    margin-top: 5%;
}

.sch-grey {
    color: #666666;
}

.sch-row {
    margin-bottom: 2%;
}

.sch-first-row {
    margin-top: 0%;
}

.sch-bg-white {
    background-color: white;
}

.sch-bg-red {
    background-color: red;
}

.sch-white {
    color: white;
}

.travel-list{
    margin-left: 0%;
    width: 100%;
}

.travel-item { 
    padding-left: 1.4em; 
    font-size: 20px;
}


.travel-item-marker{
    color: red;
}

.t-item-container {
    margin-bottom: 2 %;
}

.travel-modal {
    width: 65%  ;
}

@media (min-width: 400px){
    .travel-list {
        margin-left: 15%;
    }
}

@media (min-width: 500px){
    .travel-list {
        margin-left: 35%;
    }
}

@media (min-width: 1000px){
    .travel-list {
        margin-left: 40%;
    }
}
/*.travel-item-marker {
    color:red;
    content:'';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 10px;
}*/
