.sch-title {
    text-align: center;
}

.sch-text-center {
    text-align: center;
}

.sch-calendar {
    margin-top: 5%;
}

.sch-grey {
    color: #666666;
}

.sch-row {
    margin-top: 5%;
    margin-bottom: 5%;
}

.sch-first-row {
    margin-top: 0%;
}

.sch-bg-white {
    background-color: white;
}

.sch-bg-red {
    background-color: red;
}

.sch-white {
    color: white;
}

.travel-list{
    list-style: none;
    padding:0;
    margin:0;
}

.travel-item { 
    padding-left: 1em; 
    text-indent: -.7em;
}

.travel-item:before {
    content:'';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 10px;
}

.travel-list >:first-child:before{
    
}