.smart-stops-header {
	margin: 0;
	color: white;
	background-color: #009bd1;
}

.table-header {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #f7b24a;
}

.smart-stops-img {
	position: absolute;
	margin-left: 20%;
	height: 50px;
}

.smart-stops-small{
	font-size: 1.5em;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: auto; /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.smart-stops-text{
	font-size: 3.2em;
	line-height: 100%;
	font-weight: 900;
}

.smart-stops-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	background-color: white;
}

.odd-smart-stops-row {
	background-color: #F6F6F6;
}

.smart-stops-row {
	border-bottom: 2px solid gray;
	padding-top: 1%;
	min-height: 100px;
}

.smart-stops-table {
	margin: 0;
	height: 100%;
	background-color: white;
}

.smart-stops-right {
	padding-top: 1%;
}

.smart-stops-state{
	font-size: 1.5em;
  line-height: 1em;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: auto; /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Make it a marquee */
.marquee {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 25em }
    100% { text-indent: -25em }
}

@media only screen and (min-width: 2000px){
	.smart-stops-state{
		font-size: 2.5em;
	}

	.smart-stops-text{
		font-size: 4.5em;
	}

	.smart-stops-small{
		font-size: 2.5em;
		max-width: 800px;
	}
}