/*.to-info-container {
	overflow:auto;
}

@media only screen and (min-width: 768px){
    .to-info-container {
    	min-height: 400px;
        max-height: 600px;
    }
}

@media only screen and (min-width: 1280px){
	.to-info-container {
		min-height: 300px;
		max-height: 400px;
	}
}*/

.to-info-container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.fixed-img {
	position: fixed;
	margin-left: 65%;
	margin-top: -10%;
}

.absolute-img {
	position: absolute;
	margin-left: 65%;
	margin-top: auto;
}

.absolute-img-bottom {
	margin-top: 130%;
}

@media only screen and (min-width: 1768px){
	#img-container {
		width: 16.6%;
	}

	.fixed-img {
		margin-left: 45%;
		margin-top: -5%;
	}

	.absolute-img {
		margin-left: 45%;
	}

	.absolute-img-bottom{
		margin-top: 85%;
	}
}

.office-row {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	margin-top: 2%;
	padding-top: 2%;
	padding-bottom: 2%; 
}