/*.to-info-container {
	overflow:auto;
}

@media only screen and (min-width: 768px){
    .to-info-container {
    	min-height: 400px;
        max-height: 600px;
    }
}

@media only screen and (min-width: 1280px){
	.to-info-container {
		min-height: 300px;
		max-height: 400px;
	}
}*/

.to-info-container {
	margin-bottom: 5%;
}

.fixed-img {
	position: fixed;
	margin-left: 65%;
	margin-top: -10%;
}

.absolute-img {
	position: absolute;
	margin-left: 65%;
	margin-top: auto;
}


.absolute-img-bottom {
	margin-top: 260%;
}

@media only screen and (min-width: 1024px){
	.absolute-img-bottom {
		margin-top: 310%;
	}
}

@media only screen and (min-width: 1280px){
	.absolute-img-bottom {
		margin-top: 225%;
	}
}

@media only screen and (min-width: 1440px){
	#img-container {
		width: 25%
	}

	.absolute-img {
		margin-left: 55%;
	}

	.fixed-img {
		margin-left: 55%;
	}

	.absolute-img-bottom {
		margin-top: 210%;
	}
}


@media only screen and (min-width: 1550px){
	#img-container {
		width: 20%
	}

	.absolute-img {
		margin-left: 55%;
	}

	.fixed-img {
		margin-left: 55%;
	}

	.absolute-img-bottom {
		margin-top: 180%;
	}
}

@media only screen and (min-width: 1650px){
	#img-container {
		width: 20%
	}

	.absolute-img {
		margin-left: 50%;
	}

	.fixed-img {
		margin-left: 50%;
	}

	.absolute-img-bottom {
		margin-top: 160%;
	}
}


@media only screen and (min-width: 1768px){
	#img-container {
		width: 17.5%;
	}

	.fixed-img {
		margin-left: 47.5%;
		margin-top: -5%;
	}

	.absolute-img {
		margin-left: 47.5%;
	}

	.absolute-img-bottom{
		margin-top: 150%;
	}
}

@media only screen and (min-width: 1900px){
	.fixed-img {
		margin-left: 45%;
		margin-top: -5%;
	}

	.absolute-img {
		margin-left: 45%;
	}

	.absolute-img-bottom{
		margin-top: 140%;
	}
}

@media only screen and (min-width: 2000px){
	#img-container {
		width: 15%;
	}

	.fixed-img {
		margin-left: 37.5%;
		margin-top: -5%;
	}

	.absolute-img {
		margin-left: 37.5%;
	}

	.absolute-img-bottom{
		margin-top: 125%;
	}
}

@media only screen and (min-width: 2300px){
	#img-container {
		width: 12%;
	}

	.fixed-img {
		margin-left: 35%;
		margin-top: -5%;
	}

	.absolute-img {
		margin-left: 35%;
	}

	.absolute-img-bottom{
		margin-top: 120%;
	}
}

.office-row {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	margin-bottom: 2%;
	padding-top: 4%;
	min-height: 90px;
	padding-bottom: 2%; 
}