<div ng-controller="LoginCtrl">
      <div class="row border-bottom border-top">
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/">Mis <span><strong>Reservas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/">Mis <span><strong>Compras</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/">Últimas <span><strong>Búsquedas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/">Consultar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/baby">Recargar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 text-center lep-href lep-margin">
        	<a href="#/account/babe">Modificar <span><strong>Cuenta</strong><span></a></div>
      </div>
</div>