<div class="container">
      <div class="row border-bottom border-top">
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/reserves">Mis <span><strong>Reservas</strong><span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/purchases">Mis <span><strong >Compras</strong><span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/lastsearch">Últimas <span><strong >Búsquedas</strong><span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/checkbalance">Consultar <span><strong class="lepBlue-color">Saldo</strong><span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/buycredits">Recargar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-4 col-sm-2 text-center lep-href lep-margin">
        	<a href="#/account/update">Modificar <span><strong>Cuenta</strong><span></a></div>
      </div>
</div>

</br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class = "col-sm-4 col-xs-12 container-fluid search-item-box2">
        <ul class="nav lepDarkGrey-color lep-margin">
            <li class="search-item-box padding-top10 padding-bottom10">
                <div class="row ">
                    <div class = "col-xs-4 text-center">
                        <strong>Tarjeta Nro</strong>
                    </div>
                    <div class = "col-xs-3 search-item-box text-center">
                      <strong>  <span class="lepRed-color">31254</span></strong>
                    </div>
                    <div class = "col-xs-3">
                      <img class="img-responsive" ng-src="img/Mi cuenta/Abono BEG.png" style="float:right">
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-4 text-center">
                        <strong>Saldo Actual</strong>
                    </div>
                    <div class = "col-xs-3 text-center">
                        <strong>$1500</strong>
                    </div>
                </div>
            </li>
            <li class="search-item-box padding-top10 padding-bottom10">
                <div class="row ">
                    <div class = "col-xs-4 text-center">
                        <strong>Tarjeta Nro</strong>
                    </div>
                    <div class = "col-xs-3 search-item-box text-center">
                      <strong>  <span class="lepRed-color">31254</span></strong>
                    </div>
                    <div class = "col-xs-3">
                      <img class="img-responsive" ng-src="img/Mi cuenta/Abono Gral.png" style="float:right">
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-4 text-center">
                        <strong>Saldo Actual</strong>
                    </div>
                    <div class = "col-xs-3 text-center">
                        <strong>$1500</strong>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-4"></div>
</div>