<div class="container">
      <div class="row border-bottom border-top">
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/reserves">Mis <span><strong>Reservas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/purchases">Mis <span><strong >Compras</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/lastsearch">Últimas <span><strong class="lepBlue-color">Búsquedas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/checkbalance">Consultar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/buycredits">Recargar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 text-center lep-href lep-margin">
        	<a href="#/account/update">Modificar <span><strong>Cuenta</strong><span></a></div>
      </div>

      </br>
      <div>
        <ul class="nav container lepDarkGrey-color">
            <li class = "row">
                <div class = "col-xs-4 search-item-box text-center">
                    <strong>Córdoba     >     Sta. Rosa de Calamuchita</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    21/12/2016 <strong>  <span class="lepBlue-color">08:00</span> hs</strong>
                </div>
                <div class = "col-xs-1 search-item-box text-center">
                    <strong>Reservado</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    <a href="#/schedules"><img src="img/busqueda2.png" class="img-responsive"style="float:left;height:20px"><strong>Ir a Horario</strong></a>                   
                </div>
            </li>
            <div class="gradient-line"></div>
            <li class = "row">
                <div class = "col-xs-4 search-item-box text-center">
                    <strong>Córdoba     >     Sta. Rosa de Calamuchita</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    21/12/2016 <strong>  <span class="lepBlue-color">08:00</span> hs</strong>
                </div>
                <div class = "col-xs-1 search-item-box text-center">
                    <strong class="lepRed-color">Comprado</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    <a href="#/schedules"><img src="img/busqueda2.png" class="img-responsive"style="float:left;height:20px"><strong>Ir a Horario</strong></a>                   
                </div>
            </li>
            <li class = "row">
                <div class = "col-xs-4 search-item-box text-center">
                    <strong>Córdoba     >     Sta. Rosa de Calamuchita</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    21/12/2016 <strong>  <span class="lepBlue-color">08:00</span> hs</strong>
                </div>
                <div class = "col-xs-1 search-item-box text-center">
                    <strong>-</strong>
                </div>
                <div class = "col-xs-2 search-item-box text-center">
                    <a href="#/schedules"><img src="img/busqueda2.png" class="img-responsive"style="float:left;height:20px"><strong>Ir a Horario</strong></a>                   
                </div>
            </li>
        </ul>
      </div>
</div>