<div class="container">
      <div class="row border-bottom border-top">
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/reserves">Mis <span><strong>Reservas</strong></span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/purchases">Mis <span><strong >Compras</strong></span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/lastsearch">Últimas <span><strong >Búsquedas</strong></span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/checkbalance">Consultar <span><strong >Saldo</strong></span></a></div>
        <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/buycredits">Recargar <span><strong >Saldo</strong></span></a></div>
        <div class="col-xs-4 col-sm-2 text-center lep-href lep-margin">
        	<a href="#/account/update">Modificar <span><strong class="lepBlue-color">Cuenta</strong></span></a></div>
      </div>
</div>
<br>
<form class="row" ng-submit="editProfile()">
    <!--DNI-->
    <div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>DNI</strong>
                </div>
                <div class = " col-xs-5 text-center row-bottom-margin15">
                    <p>{{user.dni}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="hidden-xs col-sm-4">
            <button class="btn btn-default lepRed-bg lepWhite-color"type="submit" style="margin:10px">Guardar cambios</button>
        </div>
    </div>
    <!--APELLIDO Y DIRECCION-->
    <div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Apellido/s</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Apellido" placeholder="Apellido/s" required ng-model="user.lastname"/>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <!--<div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Dirección</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Direccion" placeholder="Dirección" required ng-model="user.dir"/>
                </div>
            </div>
        </div>-->
    </div>
    <!--NOMBRE Y BARRIO-->
    <div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Nombre/s</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Nombre" placeholder="Nombre/s" required ng-model="user.name"/>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <!--<div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Barrio</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Barrio" placeholder="Barrio" required ng-model="user.barrio"/>
                </div>
            </div>
        </div>-->
    </div>
    <!--FECHA NACIM Y CIUDAD-->
    <!--<div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Fecha Nacim.</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Birth" placeholder="Fecha Nacim." required ng-model="user.birth"/>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Ciudad</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="City" placeholder="Ciudad" required ng-model="user.city"/>
                </div>
            </div>
        </div>
    </div>-->
    <!--TEL Y CEL-->
    <!--<div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Teléfono</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Tel" placeholder="Teléfono" required ng-model="user.tel"/>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>Celular</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Cel" placeholder="Celular" required ng-model="user.cel"/>
                </div>
            </div>
        </div>
    </div>-->
    <!--EMAIL-->
    <div class="row row-bottom-margin15">
        <div class="col-xs-1"></div>
        <div class="col-sm-4 col-xs-10">
            <div class="row card">
                <div class = "col-xs-4 text-center row-top-margin5">
                    <strong>E-mail</strong>
                </div>
                <div class = "form-group col-xs-5 text-center row-bottom-margin15">
                    <input type="text" class="lep-form" id="Email" placeholder="E-mail" required ng-model="user.email"/>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
        </div>
    </div>
</form>

<!--PASS-->
<div class="row row-bottom-margin15">
    <div class="col-xs-3"></div>
    <div class="col-sm-5 col-xs-8">
        <div class="row card">
            <div class = "col-xs-4 text-center row-top-margin5">
                <strong>Contraseña actual</strong>
            </div>
            <div class = "col-xs-5 text-center row-bottom-margin15">
                <input type="password" class="lep-form" id="Pass" placeholder="Contraseña" required ng-model="user.pass"/>
            </div>
            <div class="col-xs-12 col-md-2">
                <button id="cambiarBtn"class="btn btn-default lepRed-bg lepWhite-color"type="submit" style="margin:10px">Cambiar</button>
            </div>
        </div>
    </div>
</div>
<div class="visible-xs col-xs-12">
    <button class="btn btn-default lepRed-bg lepWhite-color"type="submit" style="margin:10px">Guardar cambios</button>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

 <!-- Modal content -->
    <div class="modal-content ">
      <div class="modal-header">
        <span class="close">×</span>
        <h4>Cambiar contraseña</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-2">
                <p>Nueva Contraseña</p>
            </div>
            <div class="col-xs-6">
                <input type="password" class="lep-form" placeholder="Nueva Contraseña" required ng-model="user.pass"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <p>Repetir Contraseña</p>
            </div>
            <div class="col-xs-6">
                <input type="password" class="lep-form" placeholder="Repetir Contraseña" required ng-model="user.pass2"/>
            </div>
        </div>
        <button ng-click="editPass()" class="btn btn-default lepRed-bg lepWhite-color row-top-margin15"type="submit">Confirmar</button>
      </div>
    </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("cambiarBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>