<div class="acc-container">
  <div>
        <div class="row border-bottom border-top">
          <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/reserves')">Mis <span><strong>Reservas</strong><span></a></div>
          <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/purchases')">Mis <span><strong >Compras</strong><span></a></div>
          <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/lastsearch')">Últimas <span><strong >Búsquedas</strong><span></a></div>
          <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/checkbalance')">Consultar <span><strong >Saldo</strong><span></a></div>
          <div class="col-xs-4 col-sm-2 border-right text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/buycredits')">Recargar <span><strong class="lepBlue-color">Saldo</strong><span></a></div>
          <div class="col-xs-4 col-sm-2 text-center lep-href lep-margin">
          	<a href="" ng-click="go('/account/update')">Modificar <span><strong>Cuenta</strong><span></a></div>
        </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row lepLightGrey-bg">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-offset-1 col-xs-11 col-sm-4 col-md-1 " for="card_input">Número de tarjeta</label>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3">
          <input type="text" class="form-control acc-form card-input" id="card_input" placeholder="Ingresar Número" ng-model="card.number">
        </div>
        <label class="col-xs-offset-1 col-xs-11 col-sm-4 col-md-1" for="amount_input">Monto a recargar</label>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3">
          <input type="text" class="form-control acc-form card-input" id="amount_input" placeholder="Ingresar Monto" ng-model="card.amount">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-7 col-md-3">
          <button ng-disabled="card.amount <= 0" id="depositBtn" class="btn btn-default lepRed-bg lepWhite-color btn-block" type="button">Recargar</button>
        </div>
      </div>
    </form>
    <!-- <div class="col-xs-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-xs-2" for="card_input"><p>Número de Tarjeta</p></label>
          <input type="text" class="col-xs-10 form-control acc-form card-input" id="card_input" placeholder="Ingresar Número" ng-model="card.number">
        </div>
        <div class="form-group">
          <label class="text-center" for="deposit_amount"><p>Monto a recargar</p></label>
          <input type="text" class="form-control acc-form card-input" id="deposit_amount" placeholder="Ingresar Monto" required ng-model="card.amount">
        </div>
        <button ng-disabled="card.amount <= 0" id="depositBtn" class="btn btn-default lepRed-bg lepWhite-color btn-block" type="button">Recargar</button>
      </form>
    </div> -->
    <!-- `<form>
      <div class="lepLightGrey-bg col-xs-12 col-sm-4">
        <div class="row credits-row">
          <div class="form-group">
            <div class="col-xs-12 col-sm-6">
              <p><strong>Número de Tarjeta</strong></p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <input type="text" class="lep-form card-input form-control" id="nroTarjeta" placeholder="Ingresar Nro" name="card-input" ng-model="card.number">
            </div>
          </div>
        </div>
      </div>
      <div class="lepLightGrey-bg col-xs-12 col-sm-4">
        <div class="row credits-row">
          <div class="col-xs-12 col-sm-6">
            <p><strong>Monto a Recargar</strong></p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input type="text" class="lep-form form-control card-input" id="montoRecarga" placeholder="Ingresar Monto" required ng-model="card.amount"/>
          </div>
        </div>
      </div>
      <div class="lepLightGrey-bg col-xs-12 col-sm-4">
        <div class="row credits-row">
          <div class="col-xs-12 col-sm-6">
            <button ng-disabled="card.amount <= 0" id="depositBtn" class="btn btn-default lepRed-bg lepWhite-color btn-block" type="button">Recargar</button>
          </div>
          <div class="col-xs-12 col-sm-6">
          </div>
        </div>
      </div>
    </form>` -->
  </div>
  <!-- <div class="row">
      <div class="col-md-4"></div>
      <div class = "col-xs-9 col-md-4">
          <ul class="nav lepDarkGrey-color lep-margin">
              <li class="padding-top10 padding-bottom10">
                  <div class="row search-item-box">
                      <div class = "col-xs-4 text-center">
                          <strong>Número de Tarjeta</strong>
                      </div>
                      <div class = "col-xs-5 text-center ">
                        <input type="text" class="lep-form card-input" id="nroTarjeta" placeholder="Ingresar Nro" required ng-model="card.number"/>
                      </div>
                      <div class = "col-xs-12 col-lg-3 padding-top5">
                        <img ng-src="img/Mi cuenta/Abono Gral.png" style="float:right;width:40px;height:30px">
                      </div>
                  </div>
                  <div class="row search-item-box">
                      <div class = "col-xs-4 text-center">
                          <strong>Monto a Recargar</strong>
                      </div>
                      <div class = "col-xs-5 text-center">
                          <input type="text" class="lep-form card-input" id="montoRecarga" placeholder="Ingresar Monto" required ng-model="card.amount"/>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="col-xs-5 col-sm-4">
          <button ng-disabled="card.amount <= 0" id="depositBtn" class="btn btn-default lepRed-bg lepWhite-color margin-top-80" type="button">Recargar</button>
      </div>
  </div> -->

  <!-- The Modal -->
  <div id="myModal" class="modal">

   <!-- Modal content -->
      <div class="modal-content acc-modal-content ">
        <div class="modal-header">
          <span class="close">×</span>
          <h4>Confirmación</h4>
        </div>
        <div class="modal-body">
          <p>Usted esta por hacer una recarga en la tarjeta Nro <span><strong>{{card.number}}</strong></span> por un monto de <span><strong>$ {{card.amount}}</strong></span>.<strong>Recuerde que una vez realizado el pago, en el plazo de 48 horas su tarjeta se encontrará cargada.</strong></p>
          <button class="btn btn-default lepRed-bg lepWhite-color row-top-margin15" type="button"  ng-click="deposit_to_card(card.number,card.amount)">Confirmar</button>
        </div>
      </div>

  </div>

  <!-- The Modal -->
  <div id="response-modal" class="modal">

   <!-- Modal content -->
      <div class="modal-content acc-modal-content ">
        <div class="modal-header">
          <span class="close">×</span>
          <h4>Transacción exitosa</h4>
        </div>
        <div class="modal-body">
          <p>El número de transacción es <span id="sale-id"></span>, usted recibió una bonificación de <span id="sale-bonus"></span></p>
          <button class="btn btn-default lepRed-bg lepWhite-color row-top-margin15" type="button" ng-click="hide_response()">Cerrar</button>
        </div>
      </div>

  </div>

  <!-- The Loading Modal -->
  <div id="acc-dep-loading-modal" class="acc-loading-modal">

    <!-- Modal content -->
    <div class="acc-loading-modal-content">
      <div>
          <img src="./img/shared/ajax-loader.gif">
      </div>
    </div>

  </div>

</div>
