<div ng-controller="LoginCtrl">
      <div class="row border-bottom border-top">
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/reserves">Mis <span><strong class="lepBlue-color">Reservas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/purchases">Mis <span><strong>Compras</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/lastsearch">Últimas <span><strong>Búsquedas</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/checkbalance">Consultar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/account/buycredits">Recargar <span><strong>Saldo</strong><span></a></div>
        <div class="col-xs-2 text-center lep-href lep-margin">
        	<a href="#/account/update">Modificar <span><strong>Cuenta</strong><span></a></div>
      </div>
</div>