<div class="row comp-contact-row border-top">
					<div class="col-xs-12 col-md-7">
						<div class="row">
							<div class="col-xs-12 col-md-7">
								Contamos con un call center capacitado para atender todas tus consultas, hacer reservas de pasajes y tomar las sugerencias que desees aportar.
								Utilizamos la tecnología y medios digitales disponibles para que la respuesta de atención sea rápida y eficiente.
							</div>
							<div class="col-xs-12 visible-xs border-top"></div>
							<div class="col-xs-12 col-md-5">
								<div class="row comp-contact-link-row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo" src="./img/company/whatsapp.png">
									</div>
									<div class="col-xs-6">
										<a href="tel:0351-2466600">351-2466600</a>
									</div>
								</div>
								<div class="row comp-contact-link-row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo-ph" src="./img/company/cellphone.png">
									</div>
									<div class="col-xs-6">
										<a href="tel:351-5696600">351-5696600</a>
										<a href="tel:358-4219090">358-4219090</a>
									</div>
								</div>
								<div class="row comp-contact-link-row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo" src="./img/company/facebook.png">
									</div>
									<div class="col-xs-7">
										<a href="http://www.facebook.com/expresobuseslep">/expresobuseslep</a>
									</div>
								</div>
								<div class="row comp-contact-link-row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo-ml" src="./img/company/mail.png">
									</div>
									<div class="col-xs-7">
										<a href="mailto:expreso@buseslep.com.ar">expreso@buseslep.com.ar</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 visible-xs border-top"></div>
						</div>
					</div>
					<!-- <div class="hidden-xs hidden-sm col-md-1">
						<img class="img-responsive comp-right-arrow" src="./img/company/right_button.png">
					</div> -->
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<div class="hidden-xs hidden-sm col-md-4">
								<img class="img-responsive" src="./img/company/app.png">
							</div>
							<div class="col-xs-12 col-md-8">
								<div class="row">
									<div class="col-sm-12">
										<h3>Descargá la app de buses Lep desde</h3>
									</div>
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-6">
												<a href='https://play.google.com/store/apps/details?id=com.tecpro.buseslep&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="img-responsive comp-gp-img" alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png'/></a>
											</div>
											<div class="col-xs-6">
												<a href="https://itunes.apple.com/ar/app/buses-lep-horarios-y-reservas/id1044093506?mt=8"><img class="img-responsive comp-ios-img" src='https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg'></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>