<div class="comp-container">
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="row border-bottom border-top comp-tab-navbar">
		        <div class="col-xs-12 col-sm-3 text-center lep-href lep-margin comp-tab-inner-elem">
		        	<a href ng-click="set_active(0)">Historia</a>
		        </div>
		        <div class="col-xs-12 col-sm-3 text-center lep-href lep-margin comp-tab-inner-elem">
		        	<a href data-ng-click="set_active(1)">Nosotros</a>
		        </div>
		        <div class="col-xs-12 col-sm-3 text-center lep-href lep-margin comp-tab-inner-elem">
		        	<a href ng-click="set_active(2)">Contacto</a>
		        </div>
		        <div class="col-xs-12 col-sm-3 text-center lep-href lep-margin">
		        	<a href ng-click="set_active(3)">Unidades</a>
		        </div>
	        </div>
    	</div>
	</div> -->
		<div class="comp-nav row border-bottom border-top">
			<div class="col-xs-6 col-sm-3 border-right text-center lep-href lep-margin">
				<a class="comp-ref" href ng-click="set_active(0)"><strong>Historia</strong></a>
			</div>
			<div class="col-xs-6 col-sm-3 border-right text-center lep-href lep-margin">
				<a class="comp-ref" href data-ng-click="set_active(1)"><strong>Nosotros</strong></a>
			</div>
			<div class="col-xs-6 col-sm-3 border-right text-center lep-href lep-margin">
				<a class="comp-ref" href ng-click="set_active(2)"><strong>Contacto</strong></a>
			</div>
			<div class="col-xs-6 col-sm-3 text-center lep-href lep-margin hidden-xs">
				<a class="comp-ref" href ng-click="set_active(3)"><strong>Unidades</strong></a>
			</div>
			<div class="col-xs-6 col-sm-3 border-right text-center lep-href lep-margin visible-xs-block">
				<a class="comp-ref" href ng-click="set_active(3)"><strong>Unidades</strong></a>
			</div>
		</div>
	<br>
	<div class="row">
		<br>
		<div class="col-xs-12">
			<div data-ng-hide="active != 0" class="history-content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 border-bottom border-top border-left border-right comp-text-box">
						<p>
							Somos una empresa dedicada al servicio de transporte de pasajeros que nació en el año 1993. Por aquellos tiempos todo comenzó con algunas vagas ideas que paulatinamente se fueron transformando en hechos concretos.
							En nuestros inicios contábamos con pequeñas unidades que trasladaban a sólo 10 personas pero, poco a poco y sobrellevando muchas dificultades, logramos posicionarnos en un lugar privilegiado en el mercado y mantenemos un crecimiento sostenido.
							Hoy nuestra flota -de modernas unidades- está compuesta por 60 minibuses de medio y gran porte, con capacidad máxima de 25 asientos. Ofrecemos un servicio distintivo, completo y competitivo con conceptos claros en materia de atención y confort. Este ascenso permanente hace que busquemos, constantemente, maneras de superarnos para que nuestros clientes elijan día a día como medio de transporte rápido, cómodo y seguro.
							Las mejoras se reflejan en renovaciones de flotas y mayores beneficios para nuestros clientes: más servicios y más completos.
						</p>
					</div>
					<div class="col-xs-12 col-sm-5">
						<img class="img-responsive" src="./img/company/history.png">
					</div>
				</div>
			</div>
			<div data-ng-hide="active != 1" class="about-us-content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 border-bottom border-top border-left border-right comp-text-box">
						<p>
							Somos una empresa Argentina que invierte en el país, que adquiere y pone al servicio del cliente las últimas tecnologías, procurando brindarle calidad, rapidez, seguridad y confort.
							Ser sinónimo de transporte de pasajeros y mantener el posicionamiento obtenido a lo largo de la historia nos compromete a seguir aggiornándonos a los nuevos tiempos, incorporar e implementar constantemente nuevos servicios y tecnologías.
							Hemos conseguido estos logros por la excelencia de nuestros servicios, gracias a la oferta de diversos destinos y mejores frecuencias. Nuestras características son calidad, confort, seguridad y placer en viajes locales, nacionales e internacionales.
							Paralelamente desarrollamos de manera continua nuevas promociones e incentivos para que los pasajeros puedan acceder a nuestros servicios y así elegir viajar con comodidad y seguridad.
						</p>
					</div>
					<div class="col-xs-12 col-sm-5">
						<img class="img-responsive" src="./img/company/about_us.png">
					</div>
				</div>
			</div>
			<div data-ng-hide="active != 2" class="contact-us-content">
				<div class="row">
					<div class="col-xs-12 col-md-7 border-bottom border-right">
						<div class="row">
							<div class="col-xs-12 col-md-7">
								Contamos con un call center capacitado para atender todas tus consultas, hacer reservas de pasajes y tomar las sugerencias que desees aportar.
								Utilizamos la tecnología y medios digitales disponibles para que la respuesta de atención sea rápida y eficiente.
							</div>
							<div class="col-xs-12 visible-xs border-top"></div>
							<div class="col-xs-12 col-md-5">
								<div class="row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo" src="./img/company/whatsapp.png">
									</div>
									<div class="col-xs-6">
										<a href="tel:0351-2466600">351-2466600</a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo-ph" src="./img/company/cellphone.png">
									</div>
									<div class="col-xs-6">
										<a href="tel:351-5696600">351-5696600</a>
										<a href="tel:358-4219090">358-4219090</a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo" src="./img/company/facebook.png">
									</div>
									<div class="col-xs-7">
										<a href="http://www.facebook.com/expresobuseslep">/expresobuseslep</a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-2">
										<img class="comp-contact-img-logo-ml" src="./img/company/mail.png">
									</div>
									<div class="col-xs-7">
										<a href="mailto:expreso@buseslep.com.ar">expreso@buseslep.com.ar</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 visible-xs border-top"></div>
						</div>
					</div>
					<div class="hidden-xs hidden-sm col-md-1">
						<img class="img-responsive comp-right-arrow" src="./img/company/right_button.png">
					</div>
					<div class="col-xs-12 col-md-4 border-bottom border-left">
						<div class="row">
							<div class="hidden-xs hidden-sm col-md-4">
								<img class="img-responsive" src="./img/company/app.png">
							</div>
							<div class="col-xs-12 col-md-8">
								<div class="row">
									<div class="col-sm-12">
										<h3>Descargá la app de buses Lep desde</h3>
									</div>
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-6">
												<a href='https://play.google.com/store/apps/details?id=com.tecpro.buseslep&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="img-responsive comp-gp-img" alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png'/></a>
											</div>
											<div class="col-xs-6">
												<a href="https://itunes.apple.com/ar/app/buses-lep-horarios-y-reservas/id1044093506?mt=8"><img class="img-responsive comp-ios-img" src='https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg'></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
				<br>
				<br>
				<div class="row border-top">
					<div class="col-xs-12 col-md-9 col-md-offset-2">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<h4><u>Formulario de Contacto</u></h4>
							</div>
						</div>
						<div class="row">
							<br>
							<form role="form" ng-submit="submit_contact()" class="form">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<div class="row">
											<label class="control-label col-xs-5">D.N.I.</label>
											<div class="col-xs-7">
												<input class="form-control" ng-model="contact.dni" type="text" required pattern="\d+" placeholder="DNI"></input>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="control-label col-xs-5">Apellido/s</label>
											<div class="col-xs-7">
												<input class="form-control" ng-model="contact.last_name" type="text" required placeholder="Apellido/s"></input>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="control-label col-xs-5">Nombre/s</label>
											<div class="col-xs-7">
												<input class="form-control" ng-model="contact.first_name" type="text" required placeholder="Nombre/s"></input>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="control-label col-xs-5">Email</label>
											<div class="col-xs-7">
												<input class="form-control" ng-model="contact.email" type="email" placeholder="Email" required></input>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-6 ">
									<div class="row">
										<div class="col-xs-12">
											<textarea class="form-control comp-textarea" ng-model="contact.text" required rows="6" name="Opinion"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-10">
											<button type="submit" class="btn btn-default">Enviar</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div data-ng-hide="active != 3" class="units-content">
				<div class="row border-top">
					<br>
					<div class="col-xs-12 col-sm-4">
						Contamos con una flota de última generación, totalmente equipada para que disfrutes del viaje que hagas.
						<br>
						<strong>Confort, tecnología y seguridad</strong> son los pilares de nuestro crecimiento.
					</div>
					<div class="hidden-xs col-sm-8">
						<div class="row">
							<div class="col-xs-1">
								<input class="comp-gall-nav-btn" type="image" src="./img/company/left_button.png" data-ng-click="active_gall_thmb_left()"></input>
							</div>
							<div data-ng-repeat="image in images track by $index" class="col-xs-2">
								<input type="image" data-ng-mouseover="set_active_gall_thmb($index)" data-ng-click="open_image()" data-ng-src="{{image.thumbnail}}" data-ng-class="{'comp-gall-wrap': active_gall_thmb != $index}" class="comp-gall-img img-responsive"></input>
							</div>
							<div class="col-xs-1">
								<input class="comp-gall-nav-btn" type="image" src="./img/company/right_button.png" data-ng-click="active_gall_thmb_right()"></input>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-offset-9 col-xs-1">
								<button class="btn comp-btn" id="comp-gall-btn">Galería <img class="sp-gall-icon" src="./img/company/gallery.png"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row border-top border-bottom">
					<div class="col-xs-12">
						<div class="row comp-units-navbar">
							<div class="col-xs-12 col-md-4">
								<div class="row">
									<button class="btn col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3" data-ng-click="set_active_unit_tab(0)">Confort</button>
									<span class="visible-xs">
										<br>
										<br>
									</span>
									<button class="btn col-xs-10 col-xs-offset-1 col-sm-3" data-ng-click="set_active_unit_tab(1)">Tecnología</button>
									<span class="visible-xs">
										<br>
										<br>
									</span>
									<button class="btn col-xs-10 col-xs-offset-1 col-sm-3" data-ng-click="set_active_unit_tab(2)">Seguridad</button>
									<!-- <div ng-click="set_active_unit_tab(1)" class="col-xs-3 col-xs-offset-1 text-center comp-units-tab">
							        	<a href class="">Confort</a>
							        </div>
							        <div ng-click="set_active_unit_tab(2)" class="col-xs-3 col-xs-offset-1 text-center comp-units-tab">
							        	<a href class="">Tecnología</a>
							        </div>
							        <div ng-click="set_active_unit_tab(3)" class="col-xs-3 col-xs-offset-1 text-center comp-units-tab">
							        	<a href class="">Seguridad</a>
							        </div> -->
						        </div>
							</div>
						</div>
						<div class="row comp-units-content">
							<div data-ng-hide="active_unit_tab != 0" class="col-xs-11 col-xs-offset-1">
								<div class="row">
									<div class="col-xs-12 col-md-3">
										<p>
											El interior de las unidades está modificado, ubicando tres filas de asientos para un mayor cofort. De esta manera podemos brindar butacas cuyo ancho y su capacidad de reclinarse (Semi-cama) es superior a cualquier otro servicio, haciendo que viajar sea un verdadero placer.
										</p>
									</div>
									<div class="col-xs-12 col-md-9">
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<img class="img-responsive" src="./img/company/confort1.png">
											</div>
											<div class="col-xs-12 col-md-4">
												<img class="img-responsive" src="./img/company/confort2.png">
											</div>
											<div class="col-xs-12 col-md-4">
												<img class="img-responsive" src="./img/company/confort3.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div data-ng-hide="active_unit_tab != 1" class="col-xs-11 col-xs-offset-1">
								<div class="row">
									<div class="col-xs-12 col-md-4">
										Innovamos constantemente para facilitar al pasajero un viaje más cómodo y seguro. Somos los primeros en implementar el sistema de tarjeta electrónica, donde el usuario puede realizar la carga de la misma en boletería y utilizarla a cualquier destino de buses Lep.
										Desarrollamos una aplicación exclusiva para consulta, reserva y compra de pasajes. La experiencia de viajar con nosotros está en la palma de tu mano.
										Tenemos un novedoso sistema de seguimiento de vehículos instalado en cada sala de esper, para que sepas en tiempo real a qué hora llega aquel que estás esperando.
										Además todas las unidades cuentan con sistema de video y sondo y están perfectamente climatizadas en cualquier época del año.
									</div>
									<div class="col-xs-12 col-md-4">
										<img class="img-responsive" src="./img/company/technology1.png">
									</div>
									<div class="col-xs-12 col-md-4">
										<img class="img-responsive" src="./img/company/technology2.png">
									</div>
								</div>
							</div>
							<div data-ng-hide="active_unit_tab != 2" class="col-xs-11 col-xs-offset-1">
								<div class="row">
									<div class="col-xs-12 col-md-3">
										Todas las unidades cuentan con sistema vigía que regula y mantiene la correcta presión de los neumáticos; también son monitoreadas con seguimiento satelital que nos avisa en tiepo real cualquier situación meteorológica o mecánica improvista.
									</div>
									<div class="col-xs-12 col-md-3">
										<img class="img-responsive" src="./img/company/security1.png">
									</div>
									<div class="col-xs-12 col-md-3">
										<img class="img-responsive" src="./img/company/security2.png">
									</div>
									<div class="col-xs-12 col-md-3">
										<img class="img-responsive" src="./img/company/security3.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<br>
		</div>
	</div>
	<!-- The Modal -->
	<div id="my-comp-modal" class="comp-modal">

		<!-- Modal content -->
		<div class="comp-modal-content">
			<div class="comp-modal-body">
				<div class="row">
					<div class="col-xs-1">
						<input class="comp-gall-nav-btn" type="image" src="./img/company/left_button.png" data-ng-click="active_gall_img_left()"></input>
					</div>
					<div class="col-xs-10">
						<img class="comp-modal-img" ng-src="{{images[active_gall_img].url}}"/>
					</div>
					<div class="col-xs-1">
						<input class="comp-gall-nav-btn" type="image" src="./img/company/right_button.png" data-ng-click="active_gall_img_right()"></input>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- The Contact Response Modal -->
	<div id="response-modal" class="modal">

	 <!-- Modal content -->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4>¡Su mensaje ha sido enviado!</h4>
	      </div>
	      <div class="modal-body">
	        <p>Gracias por contactarse con Buses Lep.</p>
	        <button class="btn btn-default lepRed-bg lepWhite-color row-top-margin15" type="button" ng-click="hide_response_modal()">Cerrar</button>
	      </div>
	    </div>

	</div>
</div>
