<div class="smart-stops-container">
	<div class="row smart-stops-header">
		<div class="col-xs-12">
			<h1 class="text-center"><strong>PARTIDAS</strong></h1>
		</div>
	</div>
	<div class="row smart-stops-header table-header">
		<div class="col-xs-11 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-2">
					<h3>Sale</h3>
				</div>
				<div class="col-xs-4">
					<h3>Destino</h3>
				</div>
				<div class="col-xs-2">
					<h3>Empresa</h3>
				</div>
				<div class="col-xs-2">	
					<h3>Plataforma</h3>
				</div>
				<div class="col-xs-2">	
					<h3>Coche</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row smart-stops-table">
		<div class="col-xs-11 col-xs-offset-1">
			<div ng-repeat="departure in departures" class="row">
				<div class="col-xs-2">
					<p class="lead">{{departure.departure_time}}</p>
				</div>
				<div class="col-xs-4">
					<p class="lead">{{departure.destination}}</p>
				</div>
				<div class="col-xs-2">
					<p class="lead">{{departure.company}}</p>
				</div>
				<div class="col-xs-2">	
					<p class="lead">{{departure.platform}}</p>
				</div>
				<div class="col-xs-2">	
					<p class="lead">{{departure.bus}}</p>
				</div>
			</div>
		</div>
	</div>
</div>