<div class = "row container center-block">
	<br>
	<hr>
	<div class= "col-md-4 col-sm-12 col-xs-12">
		<h2 class="title lepStyle no-mar-pad-bor">Resumen compra</h2>
		<br>
		<br>
	</div>
	<div class="col-xs-12">
		<div class = "col-xs-6">
			<div class="col-xs-12 background-lightgrey2">
				<h4>Cordoba > Sta. Rosa de calamuchita</h4>	
			</div>
			<div class="col-xs-12"><br></div>
			<div class="col-xs-12 card2">	
				<div class = "col-xs-6 no-mar-pad-bor">
					<h4 class = " background-lightgrey2 ">Salida</h4>
					<h4>Servicio</h4>
					<h4 class = " background-lightgrey2">Cant. Pasajes</h4>
					<h4>Butaca</h4>
					<h4 class = " background-lightgrey2">Lugar de abordo</h4>
					<h4>Plataforma</h4>
				</div>
				<div class = "col-xs-6 no-mar-pad-bor">
					<h4 class = " background-lightgrey2">Salida</h4>
					<h4>Servicio</h4>
					<h4 class = " background-lightgrey2">Cant. Pasajes</h4>
					<h4>Butaca</h4>
					<h4 class = " background-lightgrey2">Lugar de abordo</h4>
					<h4>Plataforma</h4>
				</div>
			</div>
		</div>
		<div class = "col-xs-6">
			<div class="col-xs-12 background-lightgrey2">
				<h4>Sta. Rosa de calamuchita > Cordoba</h4>	
			</div>
			<div class="col-xs-12"><br></div>
			<div class="col-xs-12 card2">
				<div class = "col-xs-6 no-mar-pad-bor">
					<h4 class = " background-lightgrey2 ">Salida</h4>
					<h4>Servicio</h4>
					<h4 class = " background-lightgrey2">Cant. Pasajes</h4>
					<h4>Butaca</h4>
					<h4 class = " background-lightgrey2">Lugar de abordo</h4>
					<h4>Plataforma</h4>
				</div>
				<div class = "col-xs-6 no-mar-pad-bor">
					<h4 class = " background-lightgrey2 ">Salida</h4>
					<h4>Servicio</h4>
					<h4 class = " background-lightgrey2">Cant. Pasajes</h4>
					<h4>Butaca</h4>
					<h4 class = " background-lightgrey2">Lugar de abordo</h4>
					<h4>Plataforma</h4>
				</div>
			</div>
		</div>
		<div class = "col-xs-6">
			<br>
			<br>
			<div class = "col-xs-7">
				<div class = "col-xs-12 card2 text-right">		
					<h4>Precio por persona: $207</h4>
				</div>
				<div class = "col-xs-12">
					<br>
				</div>
				<div class = "col-xs-12 card2 text-right">
					<h4>Total: $207</h4>
				</div>
			</div>
			<div class = "col-xs-5">
				<div class = "col-xs-12">
					<br>
					<br>
					<button type="submit" class="center-block btn btn-default lepStyle" ng-click="goDetails()">Comprar</button>
				</div>
			</div>
		</div>
		<div class = "col-xs-6">
		
		</div>
	</div>
</div>