<div class = "row container center-block">
	<br>
	<hr>
	<div class= "col-md-4 col-sm-12 col-xs-12">
		<h3 class="title lepStyleRed no-mar-pad-bor">Resumen compra</h3>
		<br>
		<br>
	</div>
	<div class="col-xs-12">
		<div class = "col-xs-12 col-md-6">
			<div class="col-xs-12 background-lightgrey2">
				<h4>Cordoba <span class = "bold-blue"> > </span> Sta. Rosa de calamuchita</h4>	
			</div>
			<div class="col-xs-12 hidden-xs hidden-sm"><br></div>
			<div class="col-xs-12 card2">	
				<div class = "col-xs-6 no-mar-pad-bor">
					<p class = "background-lightgrey3 normal">Salida</p>

					<!-- en pantallas chicas se divide en 2 renglones fecha y hora-->
					<p class = "background-lightgrey3 normal visible-xs">Hora Salida</p>

					<p class = "normal">Servicio</p>

					<p class = " background-lightgrey3 normal hidden-xs">Cant. Pasajes</p>
					<p class = " background-lightgrey3 normal visible-xs">Pasajes</p>

					<p class = "normal">Butaca</p>

					<p class = " background-lightgrey3 normal hidden-xs">Lugar de abordo</p>
					<p class = " background-lightgrey3 normal visible-xs">Lug. abordo</p>

					<p class = "normal">Plataforma</p>
				</div>
				<div class = "col-xs-6 no-mar-pad-bor">
					<p class = "background-lightgrey3 normal hidden-xs">21/02/2016 <span class="bold-blue"> 08:00 </span><strong>hs</strong></p>
					
					<!-- en pantallas chicas se divide en 2 renglones fecha y hora-->
					<p class = "background-lightgrey3 normal visible-xs">21/02/2016</p>
					<p class = "background-lightgrey3 normal visible-xs"><span class="bold-blue"> 08:00 </span><strong>hs</strong></p>

					<p class = "normal"><strong>Diferencial</strong></p>
					<p class = " background-lightgrey3 normal"><strong>1</strong></p>
					<p class = "normal"><strong>2</strong></p>
					<p class = " background-lightgrey3 normal"><strong>T1</strong></p>
					<p class = "normal"><strong>39 a 36</strong></p>
				</div>
			</div>
		</div>
		<div class = "col-xs-12 col-md-6">
			<div class="col-xs-12 hidden-lg hidden-md"><br></div>
			<div class="col-xs-12 background-lightgrey2">
				<h4>Sta. Rosa de calamuchita <span class = "bold-blue"> > </span> Cordoba</h4>	
			</div>
			<div class="col-xs-12 hidden-xs hidden-sm"><br></div>
			<div class="col-xs-12 card2">
				<div class = "col-xs-6 no-mar-pad-bor">
					<p class = "background-lightgrey3 normal">Salida</p>

					<!-- en pantallas chicas se divide en 2 renglones fecha y hora-->
					<p class = "background-lightgrey3 normal visible-xs">Hora Salida</p>

					<p class = "normal">Servicio</p>

					<p class = " background-lightgrey3 normal hidden-xs">Cant. Pasajes</p>
					<p class = " background-lightgrey3 normal visible-xs">Pasajes</p>

					<p class = "normal">Butaca</p>

					<p class = " background-lightgrey3 normal hidden-xs">Lugar de abordo</p>
					<p class = " background-lightgrey3 normal visible-xs">Lug. abordo</p>

					<p class = "normal">Plataforma</p>
				</div>
				<div class = "col-xs-6 no-mar-pad-bor">
					<p class = "background-lightgrey3 normal hidden-xs">21/02/2016 <span class="bold-blue"> 08:00 </span><strong>hs</strong></p>
					
					<!-- en pantallas chicas se divide en 2 renglones fecha y hora-->
					<p class = "background-lightgrey3 normal visible-xs">21/02/2016</p>
					<p class = "background-lightgrey3 normal visible-xs"><span class="bold-blue"> 08:00 </span><strong>hs</strong></p>

					<p class = "normal"><strong>Diferencial</strong></p>
					<p class = " background-lightgrey3 normal"><strong>1</strong></p>
					<p class = "normal"><strong>2</strong></p>
					<p class = " background-lightgrey3 normal"><strong>T1</strong></p>
					<p class = "normal"><strong>39 a 36</strong></p>
				</div>
			</div>
		</div>
		<div class = "col-md-6 col-xs-12 no-mar-pad-bor">
			<br>
			<br>
			<div class = "col-lg-10 col-xs-12">
				<div class = "col-xs-12 card2 text-right">		
					<div class="col-xs-8">
						<h3 class="no-bold no-mar-pad-bor lepStyle background-white">Precio por persona: </h3>
					</div>
					<div class="col-xs-4">
						<h3 class = "no-mar-pad-bor lepStyle background-white"><strong>$207</strong></h3>
					</div>
				</div>
				<div class = "col-xs-12">
					<br>
				</div>
				<div class = "col-xs-12 card2 text-right">
					<div class="col-xs-8">
						<h3 class="no-bold no-mar-pad-bor lepStyle background-white">Total: </h3>
					</div>
					<div class="col-xs-4">
						<h3 class="bold-blue no-mar-pad-bor lepStyle background-white">$207</h3>
					</div>
				</div>
			</div>
			<div class = "col-xs-2">
			</div>
		</div>
		<div class = "col-xs-12 col-md-6">
				<div class = "col-xs-12">
					<br>
					<div class = "hidden-xs hidden-sm">
						<br>
						<br>
						<br>
					</div>
					<button type="submit" class="center-block btn btn-danger btn-lg lepStyleRed col-md-4 col-sm-5 col-xs-8" ng-click="goMercadopagoBuy()">Comprar</button>
				</div>
		</div>
		<div class = "col-xs-12 hidden-xs hidden-sm">
				<div class = "col-xs-10">
				</div>
				<div class = "col-xs-2">	
					<br>
					<button type="submit" class="center-block btn btn-default button2" ng-click="goBack()">Volver</button>
				</div>
		</div>
	</div>
</div>