
    <div ng-controller="LoginCtrl">
        <h2 class="text-center">Edición de perfil</h2>
        <form ng-submit="editProfile()">
           <div class="form-group">
            <label class="sr-only"  for="nombre">Nombre</label>
            <input type="text"  required class="form-control" id="Nombre" placeholder="Nombre" ng-model="user.name">
          </div>
           <div class="form-group">
            <label class="sr-only"  for="dni">Apellido</label>
            <input type="text" required class="form-control" id="Apellido" placeholder="Apellido" ng-model="user.lastname">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Dirección de correo electrónico</label>
            <input type="email" required class="form-control" id="email" placeholder="Dirección de correo electrónico" ng-model="user.email">
          </div>
          <button type="submit" class="btn btn-default col-xs-12 text-center ">Guardar</button>
        </form>        
    </div>
