
    <div ng-controller="LoginCtrl">
        <h2 class="text-center">Cambiar Contraseña</h2>
        <form ng-submit="editPass()">
          <div class="form-group">
            <label class="sr-only"  for="Password">Nueva Contraseña</label>
            <input type="password" required class="form-control" id="Password" placeholder="Nueva Contraseña" ng-model="user.pass">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="Password2">Confirmación Contrasña</label>
            <input type="password" required class="form-control" id="Password2" placeholder="Confirmación Contrasña" ng-model="user.pass2">
          </div>
          <button type="submit" class="btn btn-default col-xs-12 text-center">Guardar</button>
        </form>        
    </div>
