
    <div class="container" >
        <h2 class="text-center">Cambiar Contraseña</h2>
        <form>
          <div class="form-group">
            <label class="sr-only"  for="Password">Nueva Contraseña</label>
            <input type="password" class="form-control" id="Password" placeholder="Nueva Contraseña">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="Password2">Confirmacion Contrasña</label>
            <input type="password" class="form-control" id="Password2" placeholder="Confirmacion Contrasña">
          </div>
          <button type="submit" class="btn btn-default col-xs-12 text-center">Guardar</button>
        </form>        
    </div>
