<div ng-controller="EndController" class="text-center" >
  <br>
    <h4 class="col-xs-12">¡Su recarga ha finalizado con éxito!</h4>
    
    <p class="no-marin-p">Ud. Recibirá un correo con la información de la recarga.</p>
    <p class="no-marin-p">Recuerde que la misma estará disponible en 24 horas.</p>

    <p class="col-xs-12">Prodrá consultar el estado de la recarga a través de la opción "Consultar Saldo" dentro del menú "Mi Cuenta".</p>
    <br>
      <button class="btn btn-default col-xs-12 " ng-click="go('/account/checkBalance')">Finalizar</button>    
</div>
