

    <div ng-controller="EndController" class="container text-center" >
      <br>
        <h4 class="col-xs-12">¡Su compra ha finalizado con éxito!</h4>
        
        <p class="no-marin-p">Ud. deberá presentar el siguiente código</p>
        <p class="no-marin-p">en boletería para obtener su boleto:</p>

        <h3 class="box col-xs-offset-4 col-xs-4">   <span data-ng-bind="code"></span>  </h3><h5 class="col-xs-4"></h5>
    
        <p class="col-xs-12">Código compra</p><br>
        <p class="col-xs-12" >Prodrá consultar el código en Mis compras dentro del menú usuario una vez que haya salido de esta pantalla.</p>
        <br>
          <button class="btn btn-default col-xs-12 " ng-click="go('/')">Finalizar</button>    
    </div>
