<!DOCTYPE html>
<html lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>buses Lep</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/lepStyle.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top lepStyle">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand-2 text-center">buses Lep</p>
          <button type="button" class="navbar-toggle collapsed pull-left nav-style" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-left">
          <ul class="nav navbar-nav ">
            <li><a  href="">Inicio</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container text-center" >
      <br>
        <h4>¡Su compra ha finalizado con éxito!</h4>
        
        <p class="no-marin-p">Ud. deberá presentar el siguiente código</p>
        <p class="no-marin-p">en boletería para obtener su boleto:</p>

        <h3 class="box col-xs-offset-4 col-xs-4">  C4W1  </h3><h5 class="col-xs-4"></h5>
    
        <p class="col-xs-12">Código compra</p><br>
        <p class="col-xs-12 text-left" >Prodrá consultar el código en Mis compras dentro del menú usuario una vez que haya salido de esta pantalla.</p>
        <br>
          <button class="btn btn-default col-xs-12 ">Finalizar</button>    
    </div>


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
