
    <div class="text-center" >
      <br>
      <div class="row">
	        <h4 class="col-xs-12 ">¡Su reserva ha sido exitosa!</h4>
	        
	        <p  class="col-xs-12 ">Le enviamos un email a  <span data-ng-bind="user.email"></span> con detalles de la reserva.</p>
	        <p class="col-xs-12 ">Puede comprar el pasaje en el menú "mis reservas" o ir boletería para abonar y obtener su boleto</p>
	        <p class="col-xs-12 "> Prodrá consultar la operación realizada dentro del menú Mis reservas una vez que haya salido de esta pantalla.</p>
	        <div class="col-xs-6 col-xs-offset-3">
          	<button class="btn btn-default btn-block" ng-click="go('/account')">Finalizar</button>    
          </div>
        </div>
        </br>
    </div>
