
      <!-- Content of the navbar -->
      <div class="row-bottom-margin white col-xs-12 stick">
          <div class="row background-lightgrey">
            <h3 class="col-xs-12 title row-top-margin row-bottom-margin5 h3-responsive">Ultimas Busquedas</h3>
          </div>
      </div>

<br>
<br>
<div ng-controller = "LastSearchesController">
	<div class = "container schedules-row" ng-repeat = "search in searches">
		<div class = "row" ng-click="goSchedules()">
			<div class = "col-xs-12 col-md-6">
				<h4 class = "h4-responsive"> {{search.goingCity}} - {{search.backCity}}</h4>
				<h4 class = "h4-responsive"> {{search.goingDate}} <span class="red"> | </span> {{search.backDate}}</h4>
			</div>
		</div>
		<hr>
	</div>
</div>