

    <div class="container" >
        <h2 class="text-center">Ingreso de usuario</h2>
        <form>
          <div class="form-group">
            <label class="sr-only" for="dni">DNI</label>
            <input type="text" class="form-control" id="DNI" placeholder="DNI">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="Password">Contraseña</label>
            <input type="password" class="form-control" id="Password" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn-default col-xs-12 text-center">Ingresar</button>
        </form>        
        <p>¿olvidaste tu contraseña? hace click <a href="">aqui</a></p>
        <button type="button" class="btn btn-default col-xs-12 text-center">¿Aún no tienes cuenta?</button>
    </div>

