<!-- Main container -->
<div class="container" data-ng-controller="MainCtrl">
  <!-- Title row -->
  <div class="row">
    <h1 class="col-xs-12 text-center">Búsqueda de horarios</h1>
  </div>
  <!-- Search form -->
  <div class="row">
    <form name="searchForm" role="form" data-ng-submit="goSearch()">
      <!-- Checkbox row -->
      <div class="row">
        <div class="col-xs-12">
          <label>
            <input type="checkbox" id="checked" data-ng-model="roundTrip">  Ida y Vuelta</input>
          </label>
        </div>
      </div>
      <!-- End of checkbox row -->
      <!-- Origin and destination selector row -->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label class="sr-only" for="origin">Origen:</label>
            <select class="form-control" name="origin" id="origin" data-ng-model="params.origin" data-ng-change="checkDestinations()" data-ng-options="origin.ID_Localidad as origin.Localidad for origin in origins">
              <option value="" selected>Origen</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label class="sr-only" for="destination">Destino:</label>
            <select class="form-control" name="destination" id="destination" data-ng-model="params.destination" data-ng-disabled="!destinationDisabled" data-ng-options="destination.id_localidad_destino as destination.hasta for destination in destinations">
              <option value="" selected>Destino</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End of origin and destination row -->
      <!-- Date selector row -->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
          <!-- Departure date input -->
            <div class="input-group date">
              <input date-range-picker name="departureDate" id="departureDate" class="form-control date-picker" type="text" min="params.today" ng-model="params.departureDate" options="dpOpts" required/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- Show only if is a round trip -->
        <!-- Arrival date input -->
        <div class="col-xs-12 col-md-6" data-ng-show="roundTrip">
          <div class="input-group date">
            <input date-range-picker name="arrivalDate" id="arrivalDate" class="form-control date-picker" type="text" min="params.departureDate" ng-model="params.arrivalDate" options="dpOpts"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- End of date picker row -->
      <!-- Amount of tickets selector row -->
      <div class="row">
        <div class="col-xs-12">
          <fieldset class="form-group">
            <select class="form-control" name="cantPasajes" required data-ng-model="params.amount">
              <option value="" selected>Cantidad de pasajes</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </fieldset>
        </div>
      </div>
      <!-- End of ticket selector row -->
      <!-- Submit button -->
      <div>
        <button type="submit" class="btn btn-default col-xs-12">Buscar</button>
      </div>
    </form>
  </div>
  <!-- Search form end -->
  <!-- Login href -->
  <div class="row" data-ng-controller="LoginCtrl">
    <br>
    <!-- Only show it if the user is not logged in -->
    <div data-ng-show="user.dni === ''">
      <a href="#/login" class="btn btn-danger col-xs-12">Ingresar</a>
    </div>
  </div>
</div>
<!-- Main container end -->