<!-- <div class = "home">
	<h1>sdsds</h1>
	<div class = "row">

		<div class = "col-xs-12" ng-repeat = "paymentMethod in paymentMethods">
			<h5>{{paymentMethod.id}}</h5>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-12 col-sm-offset-2 col-sm-8">
		<form class="form-horizontal" action="" method="post" id="pay" name="pay" >
	    <fieldset>
	    	<!-- <div class="form-group">
	    		<label class="control-label col-xs-4 col-sm-6 col-md-4">Medio de pago</label>
	    		<div class="col-xs-8 col-sm-6 col-md-7">
	    			<select class="form-control"></select>
	    		</div>
	    	</div> -->
	    	<div>
	    		<div class="form-group">
	        	<label class="control-label col-xs-4 col-sm-6 col-md-4" for="total">Total a pagar:</label>
	        	<div class="col-xs-8 col-sm-6 col-md-7">
	        		<p class="form-control-static lead">${{price}}</p>
	        	</div>
	        </div>
	      	<div class="form-group">
	          <label class="control-label col-xs-4 col-sm-6 col-md-4" for="cardNumber">Número de tarjeta:</label>
	          <div class="col-xs-8 col-sm-6 col-md-7">
	          	<input class="form-control" type="text" id="cardNumber" ng-model="object.bin" maxlength="16" data-checkout="cardNumber" autocomplete="off" placeholder="4509 9535 6623 3704" />
	         	</div>
	        </div>
	        <div ng-show="paymentMethod.length != 0">
	        	<div class="form-group">
	        		<label class="control-label col-xs-4 col-sm-6 col-md-4">Tarjeta:</label>
	        		<div class="col-xs-4 col-sm-4 col-md-4">
	        			<p class="form-control-static">{{paymentMethod.name}}</p>
	        			<img ng-src="{{paymentMethod.secure_thumbnail}}">
	        		</div>
	        	</div>
	        	<div id="iss_container" class="form-group">
	        		<label class="control-label col-xs-4 col-sm-6 col-md-4">Banco:</label>
	        		<div class="col-xs-8 col-sm-6 col-md-7">
	        			<select id="issuerSelector" ng-model="issuer" class="form-control" ng-change="issuerSelected()">
	        				<option value="">Elija su banco</option>
	        			</select>
	        		</div>
	        	</div>
		        <div class="form-group">
		          <label class="control-label col-xs-4 col-sm-6 col-md-4" for="securityCode">Código de seguridad:</label>
		          <div class="col-xs-8 col-sm-6 col-md-7">
		          	<input class="form-control" type="text" id="securityCode" data-checkout="securityCode" autocomplete="off" placeholder="123" />
		          </div>
		        </div>
		      	<div class="form-group">
		          <label class="control-label col-xs-4 col-sm-6 col-md-4" for="cardExpirationMonth">Fecha de vencimiento:</label>
		          <div class="col-xs-4 col-sm-3 col-md-2">
		          	<input class="form-control" type="number" id="cardExpirationMonth" autocomplete="off" data-checkout="cardExpirationMonth" placeholder="12" min="1" max="12"/>
		          </div>
		          <div class="col-xs-4 col-sm-3 col-md-5">
		          	<input class="form-control" type="number" id="cardExpirationYear" autocomplete="off" data-checkout="cardExpirationYear" placeholder="2016" min="2016"/>
		          </div>
		        </div>
		      	<div class="form-group">
		          <label class="control-label col-xs-4 col-sm-6 col-md-4" for="cardholderName">Titular de la tarjeta:</label>
		          <div class="col-xs-8 col-sm-6 col-md-7">
		          	<input class="form-control" type="text" id="cardholderName" data-checkout="cardholderName" autocomplete="off" placeholder="Como figura en la tarjeta" />
		          </div>
		       	</div>
		      	<div class="form-group">
		          <label class="control-label col-xs-4 col-sm-6 col-md-4" for="docType">Tipo y número de documento:</label>
		          <div class="col-xs-4 col-sm-3 col-md-2">
		          	<select class="form-control" id="docType" data-checkout="docType"></select>
		          </div>
		          <div class="col-xs-4 col-sm-3 col-md-5">
		          	<input class="form-control" type="text" id="docNumber" data-checkout="docNumber" autocomplete="off" placeholder="12345678" />
		          </div>
		        </div>
		        <div class="form-group">
		        	<label class="control-label col-xs-4 col-sm-6 col-md-4" for="installments">Cuotas:</label>
		        	<div class="col-xs-4 col-sm-6 col-md-7">
			        	<select id="inst_sel" class="form-control" ng-model="installment">
			        		<option selected="selected" value="">Elija sus cuotas</option>
			        	</select>
		        	</div>
		        </div>
		        <div class="col-xs-offset-4 col-xs-4">
		        	<input class="btn btn-block btn-danger" type="submit" value="Confirmar compra" />
		        </div>
		      </div>
        </div>
	    </fieldset>
		</form>
	</div>
</div>


<!-- The Modal -->
<div id="error-modal" class="mercadopago-modal">
  <!-- Modal content -->
  <div class="mercadopago-modal-content">
    <h5 class = "text-center" id="error-modal-text"></h5>
    <button type="button" class="btn btn-large btn-danger lepStyleRed center-block" ng-click="hide_modal()">Cerrar</button>     
  </div>
</div>

<!-- The Modal -->
<div id="load-modal" class="home-modal">

  <!-- Modal content -->
  <div class="home-modal-content">
    <div class="home-modal-body">
        <img src="./img/shared/ajax-loader.gif">
    </div>
  </div>

</div>

