
    
    <div class="container" >
        <h2 class="text-center">Recuperar Contraseña</h2>
        <form>
           <div class="form-group">
            <label class="sr-only"  for="DNI">DNI</label>
            <input type="text" class="form-control" id="DNI" placeholder="DNI">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Direccion de corre electronico</label>
            <input type="email" class="form-control" id="email" placeholder="Direccion de corre electronico">
          </div>
          <button type="submit" class="btn btn-default col-xs-12 text-center">Recuperar</button>
        </form>        
    </div>
