  
      <!-- Content of the navbar -->
      <div class="row-bottom-margin white col-xs-12 stick">
        <div class="row background-darkgrey background-lightgrey ">
            <h4 class="col-xs-6 title row-bottom-margin5 h3-responsive">Alcira Gigena - Berrotaran</h4>
            <h4 class="col-xs-6 title row-bottom-margin5 h3-responsive">Ida</h4>
          </div>
          <div class="row background-lightgrey">
            <h4 class="col-xs-6 title row-top-margin row-bottom-margin5 h3-responsive">Ida $99.00</h4>
            <h4 class="col-xs-6 title row-top-margin row-bottom-margin5 h3-responsive">Ida y vuelta $188</h4>
          </div>
      </div>

     <div class = "container padding-top50" ng-controller="ScheduleController" >
      <div class = "schedules-row" ng-repeat="sched in schedules">
          <div class = "row" ng-click="goSummary()">
            <div class="col-xs-10">
              <div class="col-xs-4">
                <h4 class = "h4-responsive" >Salida</h4>
                <h5 class = "h5-responsive">{{sched.departureDate}}</h5>
                <h4 class = "blue h4-responsive">{{sched.departureTime}}</h4>
              </div>
              <div class="col-xs-4">
                  <h4 class = "h4-responsive">Llegada</h4>
                  <h5 class = "h5-responsive">{{sched.arrivalDate}}</h5>
                  <h4 class = "h4-responsive">{{sched.arrivalTime}}</h4>
              </div>
              <div class="col-xs-2">
                  <h4 class = "h4-responsive">Estado</h4>
                  <h5 class = "h4-responsive"><br></h5>
                  <h4 class = "blue h4-responsive" ng-show = "sched.status">Disponible</h4>
                  <h4 class = "red h4-responsive" ng-hide = "sched.status">En Viaje</h4>
              </div>
            </div>
            <div class="col-xs-2 clearfix">
              <h1 class = "lightgrey h1-responsive"> > </h1>
            </div>
          </div>
        <hr>
      </div>
    </div> 