<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search page for buses Lep web">
    <meta name="author" content="Tec-Pro Software">

    <title>Buses Lep - Buscar horarios</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/lepStyle.css" rel="stylesheet">
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title>Document</title>
</head>
<body>
 	  <nav class="navbar navbar-default navbar-fixed-top lepStyle">
      <!-- Content of the navbar -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">buses Lep</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Inicio</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class = "container">
    	<div class="row-bottom-margin white">
	    	<div class="row background-darkgrey background-lightgrey ">
	        	<h4 class="col-xs-6 title row-bottom-margin">Alcira Gigena - Berrotaran</h4>
	        	<h4 class="col-xs-6 title row-bottom-margin">Ida</h4>
	      	</div>
	      	<div class="row background-lightgrey">
	        	<h4 class="col-xs-6 title row-top-margin row-bottom-margin">Ida $99.00</h4>
	        	<h4 class="col-xs-6 title row-top-margin row-bottom-margin">Ida y vuelta $188</h4>
	      	</div>
	    </div>
    
      <div class = "row">
        <div class="col-xs-11">
          <div class="col-xs-4">
            <h4>Salida</h4>
            <p>23/10/2016</p>
            <h4 class = "blue">08:10</h4>
          </div>
          <div class="col-xs-4">
              <h4>Llegada</h4>
              <p>23/10/2016</p>
              <h4>08:10</h4>
          </div>
          <div class="col-xs-3">
              <h4>Estado</h4>
              <p><br></p>
              <h4 class = "blue">Disponible</h4>
          </div>
        </div>
        <div class="col-xs-1">
          <h1 class = "lightgrey"> > </h1>
        </div>
      </div>
    </div>
</body>
</html>