  
     <!-- Content of the navbar 
      <div class="row-bottom-margin white col-xs-12 stick">
          <div class="row background-lightgrey">
            <h2 class="col-xs-12 title row-top-margin row-bottom-margin5 h3-responsive">Seleccione butacas</h2>
          </div>
      </div>-->
    <div class = "row container center-block">
      <br>
      <hr>
      <div class= "col-md-4 col-sm-12 col-xs-12">
        <h3 class="title lepStyleRed no-mar-pad-bor">Seleccion Butacas</h3>
        <br>
        <div class= "hidden-xs card2">
          <div class = "row no-mar-pad-bor">
            <div class = "col-xs-6">
              <img class = "size-img center-block" ng-src="img/driver_seat.png" alt="">
            </div>
            <div class = "col-xs-6">
              <h4 class = "no-bold">Conductor</h4>
            </div>
            <div class = "col-xs-12"><hr></div>
          </div>
          <div class = "row no-mar-pad-bor">
            <div class = "col-xs-6">
              <img class = "size-img center-block" ng-src="img/free_seat.png" alt="">
            </div>
            <div class = "col-xs-6">
              <h4 class = "no-bold">Disponible</h4>
            </div>
             <div class = "col-xs-12"><hr></div>
          </div>
          <div class = "row no-mar-pad-bor">
            <div class = "col-xs-6">
              <img class = "size-img center-block" ng-src="img/occupied_seat.png" alt="">
            </div>
            <div class = "col-xs-6">
              <h4 class = "no-bold">Ocupado</h4>
            </div>
             <div class = "col-xs-12"><hr></div>
          </div>
          <div class = "row no-mar-pad-bor">
            <div class = "col-xs-6">
              <img class = "size-img center-block" ng-src="img/selected_seat.png" alt="">
            </div>
            <div class = "col-xs-6">
              <h4 class = "no-bold">Seleccionado</h4>
            </div>
          </div>
        </div>
      </div>
      <div class = "row col-md-8 col-xs-12">
        <div>
          <div class= "col-xs-12 col-sm-6">
            <h3 class= "title lepStyle background-white">Ida</h3>
            <div class = "container page " ng-controller="SeatsController">
              <div class="content-seats summary-row"> 
                <div class="row " ng-repeat="i in range(0,65,5)">
                  <div class= "col-xs-12 col-xs-offset-1  row-top-margin15">
                    <div class="col-xs-2  no-padding">
                      <img ng-click="toggleImage(seats[i])" class = "size-seats center-block" ng-src="{{seats[i].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+1])" class = "size-seats center-block" ng-src="{{seats[i+1].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding ">
                      <img ng-click="toggleImage(seats[i+2])" class = "size-seats center-block" ng-src="{{seats[i+2].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+3])" class = "size-seats center-block" ng-src="{{seats[i+3].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+4])" class = "size-seats center-block" ng-src="{{seats[i+4].img}}" alt="">
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class= "col-xs-12 col-sm-6">
            <h3 class= "title lepStyle background-white">Vuelta</h3>
            <div class = "container page" ng-controller="SeatsController">
              <div class="content-seats summary-row"> 
                <div class="row " ng-repeat="i in range(0,65,5)">
                  <div class= "col-xs-12 col-xs-offset-1  row-top-margin15">
                    <div class="col-xs-2  no-padding">
                      <img ng-click="toggleImage(seats[i])" class = "size-seats center-block" ng-src="{{seats[i].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+1])" class = "size-seats center-block" ng-src="{{seats[i+1].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding ">
                      <img ng-click="toggleImage(seats[i+2])" class = "size-seats center-block" ng-src="{{seats[i+2].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+3])" class = "size-seats center-block" ng-src="{{seats[i+3].img}}" alt="">
                    </div>
                    <div class="col-xs-2 no-padding">
                      <img ng-click="toggleImage(seats[i+4])" class = "size-seats center-block" ng-src="{{seats[i+4].img}}" alt="">
                    </div>
                  </div>  
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class = "col-xs-12"><br></div>
        <button type="submit" class="center-block btn btn-danger lepStyleRed btn-lg" ng-click="goDetails()">Continuar</button>
        <div class = "col-xs-12 hidden-xs hidden-sm">
          <div class = "col-xs-10"></div>
          <div class = "col-xs-2">  
            <br>
            <button type="submit" class="center-block btn btn-default button2" ng-click="goBack()">Volver</button>
          </div>
        </div>
      </div>
    </div>
    