<!DOCTYPE html>
<html lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>buses Lep</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/lepStyle.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top lepStyle">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand-2 text-center">buses Lep</p>
          <button type="button" class="navbar-toggle collapsed pull-left nav-style" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-left">
          <ul class="nav navbar-nav ">
            <li><a  href="">Inicio</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" >
        <h2>Reguistro de usuario</h2>
        <form>
           <div class="form-group">
            <label class="sr-only"  for="nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
          </div>
           <div class="form-group">
            <label class="sr-only"  for="dni">Apellido</label>
            <input type="text" class="form-control" id="Apellido" placeholder="Apellido">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="dni">DNI</label>
            <input type="text" class="form-control" id="DNI" placeholder="DNI">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Direccion de corre electronico</label>
            <input type="email" class="form-control" id="email" placeholder="Direccion de corre electronico">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="Password">Contraseña</label>
            <input type="password" class="form-control" id="Password" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <label class="sr-only"  for="Password2">Confirmacion Contrasña</label>
            <input type="password" class="form-control" id="Password2" placeholder="Confirmacion Contrasña">
          </div>
          <button type="submit" class="btn btn-default">Registrarme</button>
        </form>        
    </div>


    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
