<div class="smart-stops-container">
		<div class="row smart-stops-header">
			<div class="col-xs-12" style="padding: 0;">
				<img ng-show="header" class="img-responsive" src="./img/smart_stops/header.png">
				<h1 ng-show="!header" class="text-center"><strong ng-show="type==0">ARRIBOS</strong><strong ng-show="type==1">SALIDAS</strong></h1>
			</div>
		</div>
	<div ng-if="type == 0">
		<div class="row smart-stops-header table-header">
			<div class="col-xs-7">
				<div class="row">
					<div class="col-xs-4">
						<h2>LLEGA</h2>
					</div>
					<div class="col-xs-8 text-center">
						<h2>DESDE</h2>
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="row">
					<div class="col-xs-4">
						<h2>EMPRESA</h2>
					</div>
					<div class="col-xs-5">	
						<h2>PLATAFORMA</h2>
					</div>
					<div class="col-xs-3">	
						<h2>COCHE</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row smart-stops-table">
			<div class="col-xs-12">
				<div ng-repeat="arrival in arrivals | limitTo: amount : begin" class="row smart-stops-row" data-ng-class-odd="'odd-smart-stops-row'" >
					<div class="col-xs-7">
						<div class="row">
							<div class="col-xs-4">
								<div style="font-weight:bold;" class="smart-stops-text">{{arrival.FechaHoraLlegadaEstimado | lepHour }}</div>
							</div>
							<div class="col-xs-8">
								<div class="smart-stops-text">{{arrival.Origen}}</div>
							</div>
						</div>
						<div class="row smart-stops-second-text">
							<div class="col-xs-4">
								<div data-ng-show="arrival.MinutosDemora == 0" class="smart-stops-state">{{arrival.Estado | capitalize}}</div>
								<div data-ng-show="arrival.MinutosDemora > 0" class="smart-stops-state "><p ng-show="arrival.Estado == 'Con Demora'">Demorado {{arrival.MinutosDemora}} min.</p></div>
							</div>
							<div class="col-xs-8">
								<p id="text" ng-class="arrival.Localidades.length > 30 ? 'marquee' : 'text-center'" class="smart-stops-small smart-stops-cities">{{arrival.Localidades}}</p>
							</div>
						</div>
					</div>
					<div class="col-xs-5 smart-stops-right">
						<div class="row">						
							<div class="col-xs-4">
								<img src="./img/shared/isologo.png" class="smart-stops-img img-responsive">
							</div>
							<div class="col-xs-5">	
								<div class="smart-stops-text text-center">{{arrival.Plataforma}}</div>
							</div>
							<div class="col-xs-3">	
								<div style="font-weight:bold;" class="smart-stops-text text-right">{{arrival.Unidad}}</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div ng-if="type == 1">
		<div class="row smart-stops-header table-header text-center">
			<div class="col-xs-7">
				<div class="row">
					<div class="col-xs-4">
						<h2>SALE</h2>
					</div>
					<div class="col-xs-8">
						<h2>DESTINO</h2>
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="row">
					<div class="col-xs-4">
						<h2>EMPRESA</h2>
					</div>
					<div class="col-xs-5">	
						<h2>PLATAFORMA</h2>
					</div>
					<div class="col-xs-3">	
						<h2>COCHE</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row smart-stops-table">
			<div class="col-xs-12">
				<div ng-repeat="departure in departures | limitTo: amount : begin track by $index" class="row smart-stops-row" data-ng-class-odd="'odd-smart-stops-row'" >
					<div class="col-xs-7">
						<div class="row">
							<div class="col-xs-4 text-center">
								<div class="smart-stops-text">{{departure.SalidaEstimada}}</div>
							</div>
							<div class="col-xs-8">
								<div class="smart-stops-text">{{departure.destino}}</div>
							</div>
						</div>
						<div class="row smart-stops-second-text">
							<div class="col-xs-4">
								<div data-ng-show="departure.MinutosDemora == 0" class="smart-stops-state text-center">{{departure.Estado | capitalize}}</div>
								<div data-ng-show="departure.MinutosDemora > 0" class="smart-stops-state marquee-second-text"><p ng-show="departure.Estado=='Con demora'">Demorado {{departure.MinutosDemora}} min.</p></div>
							</div>
							<div class="col-xs-8">
								<p id="text" ng-class="departure.Localidades.length > 30 ? 'marquee' : 'text-center'" class="smart-stops-small smart-stops-cities">{{departure.Localidades}}</p>
							</div>
						</div>
					</div>
					<div class="col-xs-5 smart-stops-right">
						<div class="row">						
							<div class="col-xs-4">
								<img src="./img/shared/isologo.png" class="smart-stops-img img-responsive">
							</div>
							<div class="col-xs-5">	
								<div class="smart-stops-text text-center">{{departure.Plataforma}}</div>
							</div>
							<div class="col-xs-3">	
								<div class="smart-stops-text text-right">{{departure.Unidad}}</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>