<div class="container">
	<!-- Tickets row -->
	<div class="row text-center background-darkgrey white">
		<!-- First ticket -->
		<div class="col-xs-6">
		Berrotaran - Cordoba plaza
		</div>
		<!-- Second ticket empty if it is a one way trip -->
		<div class="col-xs-6 ">
		Cordoba Plaza - Berrotaran
		</div>
	</div>
	<!-- End of tickets row -->
	<br>
	<!-- Label row -->
	<div class="row text-center">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6 col-sm-5">
					Sale:
				</div>
				<div class="col-sm-2 hidden-xs"></div>
				<div class="col-xs-6 col-sm-5">
					Llega:
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6 col-sm-5">
					Sale:
				</div>
				<div class="col-sm-2 hidden-xs"></div>
				<div class="col-xs-6 col-sm-5">
					Llega:
				</div>
			</div>
		</div>
	</div>
	<!-- End of label row -->
	<!-- Row for tickets details -->
	<div class="row">
		<!-- First trip details -->
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="summary-row text-center h3-responsive">
						<div class="row">
							<!-- Departure date -->
							<div class="col-sm-5 col-xs-6">
								31/03/16
							</div>
							<span class="col-sm-2 hidden-xs"></span>
							<!-- Arrival date -->
							<div class="col-sm-5 col-xs-6">
								01/04/16
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="summary-row text-center h2-responsive">
						<div class="row">
							<!--Departure time -->
							<div class="col-xs-6 col-sm-5">
								00:05
							</div>
							<div class="hidden-xs col-sm-2">
							<span class="glyphicon glyphicon-chevron-right"></span>
							</div>
							<!-- Arrival time -->
							<div class="col-xs-6 col-sm-5">
								02:30
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- First trip details end -->
		<!-- Second trip details -->
		<div class="col-xs-6">
			<!-- Date details -->
			<div class="row">
				<div class="col-xs-12">
					<div class="summary-row text-center h3-responsive">
						<div class="row">
							<!-- Departure date -->
							<div class="col-sm-5 col-xs-6">
								01/04/16
							</div>
							<span class="col-sm-2 hidden-xs"></span>
							<!-- Arrival date -->
							<div class="col-sm-5 col-xs-6">
								02/04/16
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Date details end -->
			<!-- Time details row -->
			<div class="row">
				<div class="col-xs-12">
					<div class="summary-row text-center h2-responsive">
						<div class="row">
							<!--Departure time -->
							<div class="col-xs-6 col-sm-5">
								00:05
							</div>
							<div class="hidden-xs col-sm-2">
							<span class="glyphicon glyphicon-chevron-right"></span>
							</div>
							<!-- Arrival time -->
							<div class="col-xs-6 col-sm-5">
								02:30
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Time details end -->
		</div>
		<!-- End of second trip details -->
	</div>
	<!-- End of ticket details -->
	<br>
	<!-- Ticket amount row -->
	<div class="row text-center">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					<div class="summary-row">
						Cantidad de pasajes
					</div>
				</div>
				<div class="col-xs-6">
					<div class="summary-row">
						5 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of ticket amount row -->
	<br>
	<!-- Total row -->
	<div class="row text-center background-darkgrey white">
		<div class="col-xs-6">
			Importe Total
		</div>
		<div class="col-xs-6">
			$1390.00
		</div>
	</div>
	<!-- End of total row -->
	<br>
	<!-- Button row -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-default col-xs-12">Comprar</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-default col-xs-12">Reservar</button>
		</div>
	</div>
	<!-- End of button row -->
</div>