<div class="container">
	<!-- Destination row -->
	<div class="row">
		<div class="col-xs-6 bg-success">
		Berrotaran - Cordoba plaza
		</div>
		<div class="col-xs-6 bg-success">
		Cordoba Plaza - Berrotaran
		</div>
	</div>
	<!-- Row for tickets -->
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="bg-info">
						31/03/16
					</div>
				</div>
				<div class="col-xs-6">
					<div class="bg-info">
						01/04/16
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="bg-info">
						00:05
					</div>
				</div>
				<div class="col-xs-6">
					<div class="bg-info">
						02:30
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="bg-info">
						02/04/16
					</div>
				</div>
				<div class="col-xs-6">
					<div class="bg-info">
						03/04/16
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="bg-info">
						00:05
					</div>
				</div>
				<div class="col-xs-6">
					<div class="bg-info">
						02:30
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Ticket amount row -->
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					<div class="bg-danger text-justify">
						Cantidad de pasajes
					</div>
				</div>
				<div class="col-xs-6">
					<div class="bg-danger text-center">
						5 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Total row -->
	<div class="row">
		<div class="col-xs-6 bg-warning text-center">
			Importe Total
		</div>
		<div class="col-xs-6 bg-warning text-center">
			$1390.00
		</div>
	</div>
	<!-- Button row -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-primary col-xs-12">Comprar</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-danger col-xs-12">Reservar</button>
		</div>
	</div>
</div>