<div class="container">
	<!-- Tickets row -->
	<div class="row text-center background-darkgrey white">
		<!-- First ticket -->
		<div class="col-xs-6">
		Berrotaran - Cordoba plaza
		</div>
		<!-- Second ticket empty if it is a one way trip -->
		<div class="col-xs-6 ">
		Cordoba Plaza - Berrotaran
		</div>
	</div>
	<!-- End of tickets row -->
	<br>
	<!-- Row for tickets details -->
	<div class="row">
		<!-- First trip details -->
		<div class="col-xs-6">
			<div class="row">
				<!-- Departure date -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						31/03/16
					</div>
				</div>
				<!-- Arrival date -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						01/04/16
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Departure time -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						00:05
					</div>
				</div>
				<!-- Arrival time -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						02:30
					</div>
				</div>
			</div>
		</div>
		<!-- First trip details end -->
		<!-- Second trip details -->
		<div class="col-xs-6">
			<div class="row">
				<!-- Departure date -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						02/04/16
					</div>
				</div>
				<!-- Arrival date -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						03/04/16
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Departure time -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						00:05
					</div>
				</div>
				<!-- Arrival time -->
				<div class="col-xs-6">
					<div class="summary-details-row">
						02:30
					</div>
				</div>
			</div>
		</div>
		<!-- End of second trip details -->
	</div>
	<!-- End of ticket details -->
	<br>
	<!-- Ticket amount row -->
	<div class="row text-center background-darkgrey white">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					<div class="text-center">
						Cantidad de pasajes
					</div>
				</div>
				<div class="col-xs-6">
					<div class="text-center">
						5 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of ticket amount row -->
	<br>
	<!-- Total row -->
	<div class="row text-center background-darkgrey white">
		<div class="col-xs-6">
			Importe Total
		</div>
		<div class="col-xs-6">
			$1390.00
		</div>
	</div>
	<!-- End of total row -->
	<br>
	<!-- Button row -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-default col-xs-12">Comprar</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-default col-xs-12">Reservar</button>
		</div>
	</div>
	<!-- End of button row -->
</div>