<div ng-cloak id="view-container" class="row">
	<div class="col-xs-12 col-md-8">
		<div class="row visible-xs-block">
			<div class="col-xs-12 lepLightGrey-bg">
				<h5 class="text-center">Boleterías</h5>
			</div>
		</div>
		<div class="row lepLightGrey-bg hidden-xs">
			<div class="col-sm-3">
				<h5 class="text-center">Localidad</h5>
			</div>
			<div class="col-sm-3">
				<h5 class="text-center">Dirección</h5>
			</div>
			<div class="col-sm-3">
				<h5 class="text-center">Teléfono</h5>
			</div>
			<div class="col-sm-3">
				<h5 class="text-center">Ubicación</h5>
			</div>
		</div>
		<div class="to-info-container">
			<div class="row text-center office-row background-lightgrey3" ng-repeat="office in ticketOffices" ng-class="{'background-lightgrey2':$index == selectedRow}" ng-click="setClickedRow($index)">
				<div class="visible-xs-block">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								{{office.Localidad}}
							</div>
							<div class="col-xs-6">
								{{office.Boleteria_Ubicacion}}
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<a ng-href="tel:{{office.Boleteria_Telefono}}" style="color:#666666">
								{{office.Boleteria_Telefono}}</a>
							</div>
							<div class="col-xs-6">
								<img ng-click="showMap(office.latitud, office.longitud)" class = "map-img center-block" style = "height:22px; width:15px; cursor: pointer;" ng-src="img/shared/positioning.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs">
					<div class="col-sm-3">
						{{office.Localidad}}
					</div>
					<div class="col-sm-3">
						{{office.Boleteria_Ubicacion}}
					</div>
					<div class="col-sm-3">
						<a ng-href="tel:{{office.Boleteria_Telefono}}" style="color:#666666">
								{{office.Boleteria_Telefono}}</a>
					</div>
					<div class="col-sm-3">
						<img ng-click="showMap(office.latitud, office.longitud)" class = "map-img center-block" style = "height:22px; width:15px; cursor: pointer;" ng-src="img/shared/positioning.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="img-container" class="col-md-offset-1 col-md-3 hidden-xs hidden-sm absolute-img">     
    <img class = "img-responsive" src="img/ticket_offices/placeholder.png" ng-src="{{selectedImg}}" alt="" ng-cloak>
	</div>
	<!-- Map Modal -->
  <div id="map-modal" class="mercadopago-modal">
  <!-- Modal content -->
  	<div class="mercadopago-modal-content">         
      <div id="googleMap" style="width:100%;height:300px;"></div> 
    	<br>
     	<button type="button" class="btn btn-large btn-danger lepStyleRed center-block" ng-click="hide_modal()">Cerrar</button>   
		</div>
	</div>
</div>
	