<div class = "container">
    <div class="col-xs-8 border-bottom border-top">
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/tours"><span class="lepBlue-color"><strong>Informacion</strong><span></a>
        </div>
    </div>
    <div class="col-xs-4"></div>
    <div class = "col-xs-12"> <br></div>

    <!-- information card -->
    <div class = "card2 col-xs-8">
        <div class = "col-xs-12"> <br></div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 lepLightGrey-bg">
                <div class = "col-xs-4 ">
                  <h5 class = "no-mar-pad-bor no-bold title">Localidad</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "no-mar-pad-bor no-bold title">Direccion</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "no-mar-pad-bor no-bold title">Telefono</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                
            </div>
        </div>
        <div class = "col-xs-12"> <br></div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 background-lightgrey3 card3">
                <div class = "col-xs-4">
                  <h5 class = "title">Adelia Maria</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">Terminal de Omnibus</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">03585 421541 / 422300</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
            </div>
        </div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 card3">
                <div class = "col-xs-4">
                  <h5 class = "title">Adelia Maria</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">Terminal de Omnibus</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">03585 421541 / 422300</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
            </div>
        </div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 background-lightgrey3 card3">
                <div class = "col-xs-4">
                  <h5 class = "title">Adelia Maria</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">Terminal de Omnibus</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">03585 421541 / 422300</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
            </div>
        </div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 card3">
                <div class = "col-xs-4">
                  <h5 class = "title">Adelia Maria</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">Terminal de Omnibus</h5>
                </div>
                <div class = "col-xs-4">
                  <h5 class = "title">03585 421541 / 422300</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
            </div>
        </div>
        <div class = "col-xs-12"> <br></div>
    </div>
    <!-- End information card -->

    <!-- ticket office image -->
    <div class="col-xs-3 lepLightGrey-bg" style = "margin-left:15px;">
        <div class = "col-xs-12"> <br></div>
        <img class = "center-block img-responsive" style = "height:70%; width:70%;" ng-src="img/Boleterias/EjemploFotoBoleteria.png" alt="">
        <div class = "col-xs-12"> <br></div>
    </div>
</div>