<div class = "container" ng-controller="TicketOfficesController">
    <div class="col-xs-8 border-bottom border-top">
        <div class="col-xs-2 border-right text-center lep-href lep-margin">
        	<a href="#/tours"><span class="lepBlue-color"><strong>Informacion</strong><span></a>
        </div>
    </div>
    <div class="col-xs-4"></div>
    <div class = "col-xs-12"> <br></div>

    <!-- information card -->
    <div class = "col-xs-7">
        <div class = "col-xs-12"> <br></div>
        <div class = "col-xs-12 no-mar-pad-bor lepLightGrey-bg">
            <div class = "col-xs-11 ">
                <div class = "col-xs-5 ">
                  <h5 class = "no-mar-pad-bor no-bold title">Origen</h5>
                </div>
                <div class = "col-xs-1">
                  <h5 class = "no-mar-pad-bor no-bold title lepBlue-color">  </h5>
                </div>
                <div class = "col-xs-5">
                  <h5 class = "no-mar-pad-bor no-bold title">Destino</h5>
                </div>
            </div>
            <div class = "col-xs-1">
                
            </div>
        </div>
        <div class = "col-xs-12"> <br></div>
        <div > <!-- ng-repeat="office in ticketOffices" -->
            <div class = "col-xs-12 no-mar-pad-bor background-lightgrey3 card3">
                <div class = "col-xs-11  no-mar-pad-bor">
                    <div class = "col-xs-12 no-mar-pad-bor">
                        <div class = "col-xs-5">
                          <h5 class = "title">Cordoba</h5>
                        </div>
                        <div class = "col-xs-1">
                          <h5 class = "title lepBlue-color"> > </h5>
                        </div>
                        <div class = "col-xs-5">
                          <h5 class = "title">Santa Rosa de calamuchita</h5>
                        </div>
                    </div>
                </div>
                <div class = "col-xs-1">
                    <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
                </div>
            </div>
        </div>
        <div class = "col-xs-12"> <br></div>
    </div>
    <!-- End information card -->

    <div class = "col-xs-5">
        <div class = "col-xs-12"> <br></div>
        <div class = "col-xs-12 no-mar-pad-bor">
            <div class = "col-xs-11 ">
                  <h5 class = "no-mar-pad-bor no-bold title lepWhite-color">.</h5>
            </div>
            <div class = "col-xs-1">
                
            </div>
        </div>
        <div class = "col-xs-12"> <br></div>
        <div class = "col-xs-1">
            <img class = "map-img center-block" style = "height:20px; width:20px;" ng-src="img/Iconos comunes/BotonDesplazamientoDerecha.png" alt="">
        </div>
        <div class = "col-xs-11">
            <h5>Cordoba <span class = "lepRed-color"> <strong> .</strong></span> Va. Gral Belgrano <span class = "lepRed-color"> <strong> .</strong></span> Sta Rosa de calamuchita</h5>
        </div>
    </div>
</div>