<div>
  <div class="row">
  	<div class="col-xs-12">
  		<div class="hidden-xs row lepLightGrey-bg">
        <div class="col-sm-6">
          <div class="row">
      			<div class="col-sm-8">
      				<h5 class="title">Origen - Destino</h5>
      			</div>
            <div class="col-sm-3">
              <h5 class="title">Mapa</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-11">
              <h5 class="title">Recorrido</h5>
            </div>
          </div>
        </div>
  		</div>
      <div class="row lepLightGrey-bg visible-xs-block">
        <div class="col-xs-12">
          <h5 class="title">Recorridos</h5>
        </div>
      </div>
  	</div>
  </div>
  <div class="row">
 		<!-- information card -->
  	<div class="col-xs-12">
  		<div class="row tour-row card background-lightgrey3" ng-repeat="tour in tours" >
  			<div class="col-xs-12 col-sm-6">
  				<div class="row">
  					<div class="col-xs-12 col-sm-9">
  						<h5 class="text-left tour-title lepDarkerGrey-color">{{tour.name}}</h5>
  					</div>
  					<div class="hidden-xs col-sm-1">
  						<img ng-click="showPicture(tour.picture)" class = "map-img center-block" style = "height:22px; width:15px; cursor: pointer;" ng-src="img/Posicionamiento.png" alt="">
  					</div>
  				</div>
  			</div>
  			<div class="col-xs-12 col-sm-6">
  				<div class="row">
	  				<!-- <div class = "col-xs-1">
              <img class = "map-img center-block" style = "height:18px; width:18px; margin-top:10px;" ng-src="img/Iconos comunes/BotonDesplazamientoDerecha.png" alt="">
            </div> -->
            <div class="col-xs-11">
		  				<h5 class = "text-left lepDarkerGrey-color no-bold">{{tour.origin}}
		            <span ng-repeat="city in tour.cities">
		                <span class = "lepRed-color"> <strong> . </strong></span> 
		                <span>{{city.name}}</span>
		            </span>
		            <span class = "lepRed-color"> <strong> . </strong></span>
		            {{tour.destination}}
		          </h5>
		        </div>
          </div>
  			</div>
  		</div>
  	</div>
  	<!-- End information card -->
  </div> 
  <!-- Map Modal -->
	  <div id="pic_modal" class="mercadopago-modal">
	    <!-- Modal content -->
	    <div class="mercadopago-modal-content">         
	       
	        <div>
	            <img id="pic" style="width:100%;height:100%;" ng-src="{{picture}}" alt="Recorrido no disponible">
	         </div>
	        <br>
	         <button type="submit" class="btn btn-large btn-danger lepStyleRed center-block" ng-click="hide_modal()">Cerrar</button>   
	    </div>
	  </div>
</div>