<div ng-controller="ToursController">
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 border-bottom border-top">
        <div class="col-xs-4 col-sm-3 border-right text-center lep-href lep-margin">
            <a href="#/tours"><span class="lepBlue-color"><strong>Informacion</strong><span></a>
        </div>
    </div>
     <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs"></div>
    <div class = "col-xs-12"> <br></div>

    <!-- md,lg screen sizes -->
    <div  >
        <!-- information card -->
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class = "col-xs-12"> <br></div>
            <div class = "col-xs-12 no-mar-pad-bor hidden-xs">
                <div class = "col-xs-6 no-mar-pad-bor lepLightGrey-bg">
                     <!-- md,lg -->
                    <div class = "col-sm-10 col-md-11 col-lg-11 no-mar-pad-bor hidden-xs">
                        <div class = "col-sm-5 col-md-5 col-lg-5">
                          <h5 class = "title no-mar-pad-bor">Origen</h5>
                        </div>
                        <div class = "col-sm-1 col-md-1 col-lg-1">
                          <h5 class = "title lepBlue-color no-mar-pad-bor">  </h5>
                        </div>
                        <div class = "col-sm-5 col-md-5 col-lg-5">
                          <h5 class = "title no-mar-pad-bor">Destino</h5>
                        </div>
                    </div>
                    <div class = "hidden-xs col-sm-2 col-md-1 col-lg-1">
                    
                    </div>
                </div>
                <div class = "col-xs-6">
                    
                </div>
            </div>
            <div class = "col-xs-12 hidden-xs"> <br></div>
          
            <div class = "col-xs-12 no-mar-pad-bor" ng-repeat="tour in tours">
                <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-6 no-mar-pad-bor card3" ng-class-odd="'background-lightgrey3'" ng-class-even="">
                    <!-- md,lg -->
                    <div class = "col-sm-10 col-md-11 col-lg-11 no-mar-pad-bor hidden-xs">
                        <div class = "col-sm-5 col-md-5 col-lg-5">
                          <h5 class = "title">{{tour.origin}}</h5>
                        </div>
                        <div class = "col-sm-1 col-md-1 col-lg-1">
                          <h5 class = "title lepBlue-color"> > </h5>
                        </div>
                        <div class = "col-sm-5 col-md-5 col-lg-5">
                          <h5 class = "title">{{tour.destination}}</h5>
                        </div>
                    </div>
                    <div class = "hidden-xs col-sm-2 col-md-1 col-lg-1">
                        <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
                    </div>

                    <!-- xs -->
                    <div class = "col-xs-12 no-mar-pad-bor visible-xs">          
                        <h5 class = "text-left">Desde: {{tour.origin}}</h5>
                        <h5 class = "text-left">Hasta: {{tour.destination}}</h5>
                        <div class = "col-xs-12">
                            <div class = "col-xs-6 no-mar-pad-bor">
                                <h5>Ver Mapa</h5>
                            </div>
                            <div class = "col-xs-6 no-mar-pad-bor">
                                <img class = "map-img center-block" style = "height:22px; width:15px;" ng-src="img/Posicionamiento.png" alt="">
                            </div>
                        </div>          
                    </div>
                    <!-- xs only -->
                    <div class="col-xs-12 visible-xs">
                        <div class = "col-xs-11 no-mar-pad-bor">
                            <h5 class = "text-left lepDarkerGrey-color  no-bold">{{tour.origin}}
                                <span ng-repeat="city in tour.cities">
                                    <span class = "lepRed-color"> <strong> . </strong></span> 
                                    <span>{{city.name}}</span>
                                </span>
                                <span class = "lepRed-color"> <strong> . </strong></span>
                                 {{tour.destination}}
                            </h5>
                        </div>
                    </div>
                </div>
                
                 <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
                    <div class = "col-xs-1 no-mar-pad-bor">
                        <img class = "map-img center-block" style = "height:18px; width:18px; margin-top:10px;" ng-src="img/Iconos comunes/BotonDesplazamientoDerecha.png" alt="">
                    </div>
                    <div class = "col-xs-11 no-mar-pad-bor">
                        <h5 class = "text-left"> <!--{{tour.origin}}-->
                                <span ng-repeat="city in tour.cities">
                                    
                                    <span class = "lepDarkerGrey-color no-bold" >{{city.name}}</span>
                                    <span class = "lepRed-color"> <strong> . </strong></span>
                                </span>
                               <!-- <span class = "lepRed-color"> <strong> . </strong></span> 
                                {{tour.destination}}-->
                        </h5>
                    </div>
                </div>
            </div>

            <div class = "col-xs-12 hidden-xs"> <br></div>
           
        </div> <!-- End information card -->
    

        <!-- detailed tour
        <div class = "col-xs-12 col-sm-5 col-md-5 col-lg-5 hidden-xs">
            <div class = "col-xs-12 hidden-xs"> <br></div>
            <div class = "col-xs-12 no-mar-pad-bor">
                <div class = "col-xs-11 ">
                      <h5 class = "no-mar-pad-bor no-bold title lepWhite-color">.</h5>
                </div>
                <div class = "col-xs-1">
                    
                </div>
            </div>
            <div class = "col-xs-12"> <br></div>
            <div  ng-repeat="tour in tours">
                <div class = "col-xs-1">
                    <img class = "map-img center-block" style = "height:20px; width:20px;" ng-src="img/Iconos comunes/BotonDesplazamientoDerecha.png" alt="">
                </div>
                <div class = "col-xs-11">
                   <h5 class = "title">{{tour.origin}}
                                <span ng-repeat="city in tour.cities">
                                    <span class = "lepRed-color"> <strong> . </strong></span> 
                                    <span class = "lepDarkerGrey-color no-bold" >{{city.name}}</span>
                                </span>
                                <span class = "lepRed-color"> <strong> . </strong></span> 
                                {{tour.destination}}
                    </h5>
                </div>
            </div>
        </div> --><!-- end detailed tour -->
    </div><!--end md,lg screen sizes -->


</div>
