<div class="container">
	<!-- Main row -->
	<div class="row text-center white background-darkgrey">
		RESERVAS HECHAS
	</div>
	<div class="row bg-info">
	IDA Almafuerte a Córdoba
		<div class="col-xs-12 user-reserve">
			<div class="row">
				<div class="col-xs-6 bg-warning">
					SALIDA 13/08/16
				</div>
				<div class="col-xs-6 bg-danger">
					HORA 20:50
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					Cantidad de pasajeros 2
				</div>
			</div>
		</div>
	</div>
</div>